<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Crear nuevo comunicado</h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="nuevoComunicadoForm">
        <div class="form-row">
          <div class="col-sm-9">
            <label for="titulo">
              <b>Titulo *</b>
              <span
                *ngIf="nuevoComunicadoForm.controls['titulo'].invalid && (nuevoComunicadoForm.controls['titulo'].dirty || nuevoComunicadoForm.controls['titulo'].touched)">
                <i *ngIf="nuevoComunicadoForm.controls['titulo'].errors.required" class="text-danger"> - Campo requerido</i>
                <i *ngIf="nuevoComunicadoForm.controls['titulo'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
              </span>
            </label>
            <input id="titulo" type="text" class="form-control" placeholder="Ej. Colonia 20 de Noviembre" formControlName="titulo" #titulo>
          </div>
          <div class="col-sm-3">
            <label for="fechaPublicacion">
              <b>Fecha de publicacion *</b>
              <span *ngIf="nuevoComunicadoForm.controls['fechaPublicacion'].invalid && (nuevoComunicadoForm.controls['fechaPublicacion'].dirty || nuevoComunicadoForm.controls['fechaPublicacion'].touched)" class="text-danger"> - Requerido</span>
            </label>
            <input id="fechaPublicacion" type="date" class="form-control" formControlName="fechaPublicacion" [min]="fechaDeHoy" #fechaPublicacion>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <label>
            <b>Cuerpo del comunicado</b>
          </label>
          <ckeditor editorUrl="http://www.pelisat.com.mx/cdn/ckeditor/ckeditor.js" [(ngModel)]="model.editorData"></ckeditor>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-info" (click)="guardarComunicado(nuevoComunicadoForm)">
            Guardar comunicado
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
