<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Visitas</h1>
    <div class="btn-group">
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm shadow-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="exportGridData('CSV')">Descargar como CSV</a>
          <a class="dropdown-item" (click)="generarReporteExcel()">Descargar como Excel</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-sm-12" style="background: white">
      <ag-grid-angular
        style="height: 80vh; width: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents"
        (rowDoubleClicked)="mostrarModalDetalles($event.data)"
        #agGrid
      ></ag-grid-angular>
    </div>
  </div>

  <ng-template #mostrarDetallesVisitaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="mostrarDetallesVisitaModal">Ver detalles de la visita </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActual === 'DETALLES' }" (click)="cambiarPestana('DETALLES')">Detalles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActual === 'ARCHIVOS' }" (click)="cambiarPestana('ARCHIVOS')">Archivos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12" *ngIf="pestanaActual === 'DETALLES'">
          <table class="table">
            <tr>
              <td><b>Numero de orden</b></td>
              <td>{{visita?.numeroOrden}}</td>
            </tr>
            <tr>
              <td><b>Tipo de visita</b></td>
              <td>{{visita?.tipoVisita}}</td>
            </tr>
            <tr>
              <td><b>Nombre comercial</b></td>
              <td>{{visita?.nombreComercial}}</td>
            </tr>
            <tr>
              <td><b>Razon social</b></td>
              <td>{{visita?.razonSocial}}</td>
            </tr>
            <tr>
              <td><b>Domicilio:</b></td>
              <td>
                {{visita?.domicilio1}} {{visita?.numeroExterior}} {{visita?.numeroInterior}}. Colonia: {{visita?.domicilio2}}<br>
                {{visita?.domicilio3}}, {{visita?.estado}}<br>
                C.P. {{visita?.codigoPostal}}
              </td>
            </tr>
            <tr>
              <td><b>Fecha de visita</b></td>
              <td>{{visita?.fechaVisita}}</td>
            </tr>
            <tr>
              <td><b>Requerimiento</b></td>
              <td [ngSwitch]="visita?.requerimiento">
                <span *ngSwitchCase="true">Si</span>
                <span *ngSwitchCase="false">No</span>
              </td>
            </tr>
            <tr *ngIf="visita?.requerimiento">
              <td><b>Texto del requerimiento</b></td>
              <td [innerHTML]="visita?.detallesRequerimiento | sanitizeHtml"></td>
            </tr>
            <tr *ngIf="visita?.requerimiento">
              <td><b>Fecha de vencimiento del requerimiento:</b></td>
              <td>{{visita?.fechaTermino}}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-12" *ngIf="pestanaActual === 'ARCHIVOS'">
          <table class="table">
            <tr>
              <td><b>Archivo</b></td>
              <td><b>Descripcion</b></td>
              <td><b>Opciones</b></td>
            </tr>
            <tr *ngFor="let f of visita?.archivos">
              <td>{{f?.nombreArchivo}}</td>
              <td>{{f?.descripcion}}</td>
              <td>
                <fa-icon [icon]="faDownload" title="Descargar archivo" (click)="descargarArchivo(f?.uuid)"></fa-icon>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>
</div>
