<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Acuerdos</h1>
    <div class="btn-group">
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="mostrarModalCrear()">Nuevo acuerdo</button>
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm btn-secondary dropdown-toggle" type="button" id="mostrarColumnasDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mostrar / Ocultar columnas
        </button>
        <div class="dropdown-menu" aria-labelledby="mostrarColumnasDropdown">
          <!--a class="dropdown-item" *ngFor="let columnDef of allColumnDefs" (click)="toggleColumn(columnDef.field)"><fa-icon [icon]="faCheck" *ngIf="isColumnListed(columnDef.field)"></fa-icon> {{columnDef?.headerName}}</a-->
        </div>
      </div>
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm shadow-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="exportGridData('CSV')">Descargar acuerdos como Excel (csv)</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a routerLink="/home/empresas/{{uuid}}" class="list-group-item list-group-item-action">
          Detalles
        </a>
        <a routerLink="/home/empresas/{{uuid}}/acuerdos" class="list-group-item list-group-item-action active">Acuerdos</a>
        <a routerLink="/home/empresas/{{uuid}}/domicilios" class="list-group-item list-group-item-action">Domicilios</a>
        <a routerLink="/home/empresas/{{uuid}}/legal" class="list-group-item list-group-item-action">Legal</a>
        <a routerLink="/home/empresas/{{uuid}}/licencias" class="list-group-item list-group-item-action" *ngIf="empresa?.tieneArmas">Licencias colectivas / Armas</a>
        <a routerLink="/home/empresas/{{uuid}}/canes" class="list-group-item list-group-item-action" *ngIf="empresa?.tieneCanes">Canes</a>
        <a routerLink="/home/empresas/{{uuid}}/vehiculos" class="list-group-item list-group-item-action">Vehiculos</a>
        <a routerLink="/home/empresas/{{uuid}}/incidencias" class="list-group-item list-group-item-action">Incidencias</a>
        <a routerLink="/home/empresas/{{uuid}}/clientes" class="list-group-item list-group-item-action">Clientes</a>
        <a routerLink="/home/empresas/{{uuid}}/personal" class="list-group-item list-group-item-action">Personal</a>
        <a routerLink="/home/empresas/{{uuid}}/equipo" class="list-group-item list-group-item-action">Equipo / Fornituras</a>
        <a routerLink="/home/empresas/{{uuid}}/uniformes" class="list-group-item list-group-item-action">Uniformes</a>
      </div>
    </div>
    <div class="col-sm-9" style="background: white">
      <ag-grid-angular
        style="height: 80vh; width: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents"
        (rowDoubleClicked)="mostrarModalDetalles($event.data)"
        #agGrid
      ></ag-grid-angular>
    </div>
  </div>

  <ng-template #verDetallesAcuerdoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="verDetallesAcuerdoModal">Ver detalles del acuerdo </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Fecha</b></td>
              <td>{{acuerdo?.fecha}}</td>
            </tr>
            <tr>
              <td><b>Tipo del acuerdo</b></td>
              <td [ngSwitch]="acuerdo?.tipo">
                <span *ngSwitchCase="'AUTORIZACION_ESTATAL'">Autorizacion Estatal</span>
                <span *ngSwitchCase="'AUTORIZACION_PROVISIONAL'">Autorizacion Provisional</span>
                <span *ngSwitchCase="'REGISTRO_FEDERAL'">Registro Federal</span>
                <span *ngSwitchCase="'REGISTRO_SERVICIOS_PROPIOS'">Registro de Servicios Propios</span>
                <span *ngSwitchCase="'REFRENDO'">Refrendo</span>
                <span *ngSwitchCase="'REVOCACION'">Revocacion</span>
                <span *ngSwitchCase="'PERDIDA_EFICACIA'">Perdida de Eficacia</span>
                <span *ngSwitchCase="'SUSPENSION'">Suspension</span>
                <span *ngSwitchCase="'CLAUSURA'">Clausura</span>
                <span *ngSwitchCase="'MULTA'">Multa</span>
                <span *ngSwitchCase="'AMONESTACION'">Amonestacion</span>
              </td>
            </tr>
            <tr>
              <td><b>Observaciones</b></td>
              <td>{{acuerdo.observaciones}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="mostrarAcuerdo()">Visualizar acuerdo</button>
      <button type="button" class="btn btn-primary" (click)="mostrarModificarAcuerdoModal()">Modificar</button>
      <button type="button" class="btn btn-danger" (click)="mostrarModalEliminarAcuerdo()">Eliminar</button>
    </div>
  </ng-template>

  <ng-template #crearAcuerdoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-survey-response">Nuevo acuerdo </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="nuevoAcuerdoForm">
            <div class="row">
              <div class="col-sm-4">
                <label for="fecha">
                  <b>Tipo de acuerdo *</b>
                </label>
                <select id="tipoTramite" class="form-control" formControlName="tipo" (change)="cambiarTipoAcuerdo($event.target)">
                  <option value="AUTORIZACION_ESTATAL">Autorizacion estatal</option>
                  <option value="AUTORIZACION_PROVISIONAL">Autorizacion provisional</option>
                  <option value="REGISTRO_FEDERAL">Registro federal</option>
                  <option value="REGISTRO_SERVICIOS_PROPIOS">Registro de servicios propios</option>
                  <option value="REFRENDO">Refrendo</option>
                  <option value="REVOCACION">Revocacion</option>
                  <option value="PERDIDA_EFICACIA">Perdida de eficacia</option>
                  <option value="SUSPENSION">Suspension</option>
                  <option value="CLAUSURA">Clausura</option>
                  <option value="MULTA">Multa</option>
                  <option value="AMONESTACION">Amonestacion</option>
                </select>
              </div>
              <div class="col-sm-4">
                <label for="fecha">
                  <b>Fecha del acuerdo *</b>
                </label>
                <input class="form-control" id="fecha" type="date" formControlName="fecha" placeholder="Fecha del acuerdo">
              </div>
              <div class="col-sm-4">
                <label for="documentoRegistroFederal">
                  <b>Archivo del acuerdo (en pdf) *</b>
                </label>
                <input id="documentoRegistroFederal" class="form-control" type="file" accept="application/pdf" (change)="onFileChange($event)">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label for="observaciones">
                  <b>Observaciones</b>
                </label>
                <textarea id="observaciones" type="text" class="form-control" placeholder="Detallar si hay observaciones del acuerdo" formControlName="observaciones" #observaciones></textarea>
              </div>
            </div>
            <hr *ngIf="tipoAcuerdo === 'REVOCACION' || tipoAcuerdo === 'PERDIDA_EFICACIA' || tipoAcuerdo === 'SUSPENSION' || tipoAcuerdo === 'CLAUSURA'">
            <div class="row" *ngIf="tipoAcuerdo === 'REVOCACION' || tipoAcuerdo === 'PERDIDA_EFICACIA' || tipoAcuerdo === 'SUSPENSION' || tipoAcuerdo === 'CLAUSURA'">
              <div class="col-sm-12">
                <b>Nota importante:</b>
                <p *ngIf="tipoAcuerdo === 'REVOCACION'">Al seleccionar <b>Revocacion</b>, la empresa quedara en status <b>REVOCADA</b> definitivamente, haciendo que no pueda iniciar sesion ni realizar ningun tipo de tramite.</p>
                <p *ngIf="tipoAcuerdo === 'PERDIDA_EFICACIA'">Al seleccionar <b>Perdida de Eficacia</b> la empresa en status <b>PERDIDA DE EFICACIA</b> definitivamente, haciendo que no pueda iniciar sesion ni realizar ningun tipo de tramite.</p>
                <p *ngIf="tipoAcuerdo === 'SUSPENSION'">Al seleccionar <b>Suspension</b> la empresa quedara <b>SUSPENDIDA</b> de manera temporal. Durante ese tiempo la empresa no podra realizar tramites ni iniciar sesion.</p>
                <p *ngIf="tipoAcuerdo === 'CLAUSURA'">Al seleccionar <b>Clausura</b> la empresa quedara <b>CLAUSURADA</b> de manera temporal. Durante ese tiempo la empresa no podra realizar tramites ni iniciar sesion.</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="guardarAcuerdo(nuevoAcuerdoForm)">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #modificarAcuerdoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modificarEscrituraModal">Modificando acuerdo </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="nuevoAcuerdoForm">
              <div class="row">
                <div class="col-sm-4">
                  <label for="tipoTramiteEditar">
                    <b>Tipo de acuerdo *</b>
                  </label>
                  <select id="tipoTramiteEditar" class="form-control" formControlName="tipo" (change)="cambiarTipoAcuerdo($event.target)">
                    <option value="AUTORIZACION_ESTATAL">Autorizacion estatal</option>
                    <option value="AUTORIZACION_PROVISIONAL">Autorizacion provisional</option>
                    <option value="REGISTRO_FEDERAL">Registro federal</option>
                    <option value="REGISTRO_SERVICIOS_PROPIOS">Registro de servicios propios</option>
                    <option value="REFRENDO">Refrendo</option>
                    <option value="REVOCACION">Revocacion</option>
                    <option value="PERDIDA_EFICACIA">Perdida de eficacia</option>
                    <option value="SUSPENSION">Suspension</option>
                    <option value="CLAUSURA">Clausura</option>
                    <option value="MULTA">Multa</option>
                    <option value="AMONESTACION">Amonestacion</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <label for="fechaEditar">
                    <b>Fecha del acuerdo *</b>
                  </label>
                  <input class="form-control" id="fechaEditar" type="date" formControlName="fecha" placeholder="Fecha del acuerdo">
                </div>
                <div class="col-sm-4">
                  <label for="documentoRegistroFederalEditar">
                    <b>Archivo del acuerdo (en pdf) *</b>
                  </label>
                  <input id="documentoRegistroFederalEditar" class="form-control" type="file" accept="application/pdf" (change)="onFileChange($event)">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label for="observacionesEditar">
                    <b>Observaciones</b>
                  </label>
                  <textarea id="observacionesEditar" type="text" class="form-control" placeholder="Detallar si hay observaciones del acuerdo" formControlName="observaciones" #observaciones></textarea>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="guardarCambiosAcuerdo(nuevoAcuerdoForm)">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #eliminarAcuerdoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarEscrituraModal">Eliminando un acuerdo </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="motivosEliminacionForm">
        <div class="row">
          <div class="col-sm-4">
            <label for="motivoBaja">
              <b>Motivo de la baja *</b>
              <span
                *ngIf="motivosEliminacionForm.controls['motivoBaja'].invalid && (motivosEliminacionForm.controls['motivoBaja'].dirty || motivosEliminacionForm.controls['motivoBaja'].touched)">
                    <i *ngIf="motivosEliminacionForm.controls['motivoBaja'].errors.required" class="text-danger"> - Campo requerido</i>
                    <i *ngIf="motivosEliminacionForm.controls['motivoBaja'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                  </span>
            </label>
            <input id="motivoBaja" type="text" class="form-control" placeholder="Ej. Motivo de la baja" formControlName="motivoBaja" #nombre>
          </div>
          <div class="col-sm-4">
            <label for="fechaBaja">
              <b>Fecha de la baja *</b>
            </label>
            <span
              *ngIf="motivosEliminacionForm.controls['fechaBaja'].invalid && (motivosEliminacionForm.controls['fechaBaja'].dirty || motivosEliminacionForm.controls['fechaBaja'].touched)">
              <i *ngIf="motivosEliminacionForm.controls['fechaBaja'].errors.required" class="text-danger"> - Campo requerido</i>
            </span>
            <input id="fechaBaja" type="date" class="form-control" formControlName="fechaBaja" [max]="fechaDeHoy" #nombre>
          </div>
          <div class="col-sm-4">
            <label for="documentoFundatorioBaja">
              <b>Documento fundatorio</b>
            </label>
            <input id="documentoFundatorioBaja" class="form-control" formControlName="file" type="file" (change)="onFileChange($event)">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="observacionesBaja">
              <b>Observaciones</b>
            </label>
            <textarea id="observacionesBaja" type="text" class="form-control" placeholder="Describir detalladamente la razon de la baja" formControlName="observacionesBaja" #descripcion></textarea>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <p>Estás a punto de eliminar el acuerdo. Toma en cuenta que el archivo sera eliminado y esta operación no se puede deshacer. ¿Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarAcuerdo(motivosEliminacionForm)">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #visualizarAcuerdoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="visualizarEscrituraModal">Ver adjunto del acuerdo </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <pdf-viewer [src]="pdfActual"
                      [render-text]="true"
                      [original-size]="false"
                      style="width: 100%; height: 600px"></pdf-viewer>
        </div>
      </div>
    </div>
  </ng-template>


</div>
