<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Crear nueva empresa</h1>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
          <div class="step" data-target="#test-l-1">
            <button class="step-trigger">
              <span class="bs-stepper-circle">1</span>
              <span class="bs-stepper-label">Empresa</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-2">
            <button class="step-trigger">
              <span class="bs-stepper-circle">2</span>
              <span class="bs-stepper-label">Domicilios</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-3">
            <button class="step-trigger">
              <span class="bs-stepper-circle">3</span>
              <span class="bs-stepper-label">Legal</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-4">
            <button class="step-trigger">
              <span class="bs-stepper-circle">4</span>
              <span class="bs-stepper-label">Formas de Ejecucion</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-5">
            <button class="step-trigger">
              <span class="bs-stepper-circle">5</span>
              <span class="bs-stepper-label">Resumen</span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <!-- STEP NUMBER 1 - USER INFORMATION -->
          <div id="test-l-1" class="content">
            <form [formGroup]="empresaCreacionForm">
              <div class="form-row">
                <div class="col-sm-4">
                  <label for="tipoTramite">
                    <b>Tipo de tramite *</b>
                    <span
                      *ngIf="empresaCreacionForm.controls['tipoTramite'].invalid && (empresaCreacionForm.controls['tipoTramite'].dirty || empresaCreacionForm.controls['tipoTramite'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['tipoTramite'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <select id="tipoTramite" class="form-control" formControlName="tipoTramite" (change)="cambiarTipoTramite($event.target)">
                    <option value="EAFJAL">TRAMITE FEDERAL (EAFJAL)</option>
                    <option value="SPSMD">TRAMITE ESTATAL (SPSMD)</option>
                    <option value="RESPRO">SERVICIOS PROPIOS (RESPRO)</option>
                    <option value="AP">AUTORIZACION PROVISIONAL (AP)</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <label for="registro">
                    <b>Registro (autogenerado) *</b>
                    <span
                      *ngIf="empresaCreacionForm.controls['registro'].invalid && (empresaCreacionForm.controls['registro'].dirty || empresaCreacionForm.controls['registro'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['registro'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">CESP/{{tipoTranite}}/</span>
                    </div>
                    <input class="form-control" id="registro" type="text" formControlName="registro" placeholder="Se generara automaticamente">
                    <div class="input-group-append">
                      <span class="input-group-text">/{{year}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="tipoPersona">
                    <b>Tipo de persona *</b>
                    <span
                      *ngIf="empresaCreacionForm.controls['tipoPersona'].invalid && (empresaCreacionForm.controls['tipoPersona'].dirty || empresaCreacionForm.controls['tipoPersona'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['tipoPersona'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <select id="tipoPersona" class="form-control" formControlName="tipoPersona" (change)="cambiarTipoPersona($event.target)">
                    <option value="FISICA">FISICA</option>
                    <option value="MORAL">MORAL</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-3">
                  <label for="razonSocial">
                    <b *ngIf="tipoPersona === 'MORAL'">Razon Social *</b>
                    <b *ngIf="tipoPersona === 'FISICA'">Nombre Completo *</b>
                    <span
                      *ngIf="empresaCreacionForm.controls['razonSocial'].invalid && (empresaCreacionForm.controls['razonSocial'].dirty || empresaCreacionForm.controls['razonSocial'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['razonSocial'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <input class="form-control" id="razonSocial" type="text" formControlName="razonSocial" placeholder="Ejemplo. Juan Perez Lopez o Prue S.A. de C.V.">
                </div>
                <div class="col-sm-3">
                  <label for="nombreComercial">
                    <b>Nombre comercial *</b>
                    <span
                      *ngIf="empresaCreacionForm.controls['nombreComercial'].invalid && (empresaCreacionForm.controls['nombreComercial'].dirty || empresaCreacionForm.controls['nombreComercial'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['nombreComercial'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <input class="form-control" id="nombreComercial" type="text" formControlName="nombreComercial" placeholder="Ejemplo. Hola Empresa">
                </div>
                <div class="col-sm-3" *ngIf="tipoPersona === 'FISICA'">
                  <label for="curp">
                    <b>CURP</b>
                  </label>
                  <input class="form-control" id="curp" type="text" formControlName="curp" placeholder="Ejemplo. XAXX010101ABCDEFGH">
                </div>
                <div class="col-sm-3" *ngIf="tipoPersona === 'FISICA'">
                  <label for="sexo">
                    <b>Sexo</b>
                  </label>
                  <select id="sexo" class="form-control" formControlName="sexo">
                    <option value="MASCULINO">MASCULINO</option>
                    <option value="FEMENINO">FEMENINO</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-4">
                  <label for="rfc">
                    <b>RFC *</b>
                    <span
                      *ngIf="empresaCreacionForm.controls['rfc'].invalid && (empresaCreacionForm.controls['rfc'].dirty || empresaCreacionForm.controls['rfc'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['rfc'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <input class="form-control" id="rfc" type="text" formControlName="rfc" placeholder="Ejemplo. XAXX010101AAA">
                </div>
                <div class="col-sm-4">
                  <label for="correoElectronico">
                    <b>Correo principal *</b>
                    <span
                      *ngIf="empresaCreacionForm.controls['correoElectronico'].invalid && (empresaCreacionForm.controls['correoElectronico'].dirty || empresaCreacionForm.controls['correoElectronico'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['correoElectronico'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <input class="form-control" id="correoElectronico" type="text" formControlName="correoElectronico" placeholder="Ejemplo hola@hola.com">
                </div>
                <div class="col-sm-4">
                  <label for="telefono">
                    <b>Telefono *</b>
                    <span
                      *ngIf="empresaCreacionForm.controls['telefono'].invalid && (empresaCreacionForm.controls['telefono'].dirty || empresaCreacionForm.controls['telefono'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['telefono'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <input class="form-control" id="telefono" type="text" formControlName="telefono" placeholder="Ejemplo 3312345678">
                </div>
              </div>
            </form>
            <form [formGroup]="empresaModalidadForm" style="margin-top: 10px;">
              <div class="form-row">
                <div class="col-sm-2">
                  <label for="modalidad">
                    <b>Modalidad *</b>
                    <span
                      *ngIf="empresaModalidadForm.controls['modalidad'].invalid && (empresaModalidadForm.controls['modalidad'].dirty || empresaModalidadForm.controls['modalidad'].touched)">
                      <i *ngIf="empresaModalidadForm.controls['modalidad'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                  </label>
                  <select id="modalidad" class="form-control" formControlName="modalidad" (change)="seleccionarModalidad($event.target)">
                    <option *ngFor="let m of modalidades" value="{{m?.uuid}}">{{m?.nombre}}</option>
                  </select>
                </div>
                <div class="col-sm-2" *ngIf="modalidad?.tieneSubmodalidades">
                  <label for="submodalidad">
                    <b>Submodalidad</b>
                  </label>
                  <select id="submodalidad" class="form-control" formControlName="submodalidad">
                    <option *ngFor="let s of modalidad?.submodalidades" value="{{s?.uuid}}">{{s?.nombre}}</option>
                  </select>
                </div>
                <div class="col-sm-2" *ngIf="modalidad?.tipo === 'EAFJAL'">
                  <label for="numeroRegistroFederal">
                    <b>No. de Registro Federal</b>
                  </label>
                  <input class="form-control" id="numeroRegistroFederal" type="text" formControlName="numeroRegistroFederal" placeholder="Ejemplo. 156861215">
                </div>
                <div class="col-sm-2" *ngIf="modalidad?.tipo === 'EAFJAL'">
                  <label for="fechaInicio">
                    <b>Fecha de Inicio</b>
                  </label>
                  <input class="form-control" id="fechaInicio" type="date" formControlName="fechaInicio" placeholder="Fecha inicio">
                </div>
                <div class="col-sm-2" *ngIf="modalidad?.tipo === 'EAFJAL'">
                  <label for="fechaFin">
                    <b>Fecha de Fin</b>
                  </label>
                  <input class="form-control" id="fechaFin" type="date" formControlName="fechaFin" placeholder="Fecha fin">
                </div>
                <div class="col-sm-2" style="margin-top: 8px;">
                  <br>
                  <button class="btn btn-outline-primary" (click)="agregarModalidad(empresaModalidadForm)">
                    Agregar
                  </button>
                </div>
              </div>
            </form>
            <div class="row" style="margin-top: 20px;">
              <div class="col-sm-12">
                <table class="table">
                  <tr>
                    <td><b>Modalidad</b></td>
                    <td><b>Submodalidad</b></td>
                    <td><b>No. de Registro Federal</b></td>
                    <td><b>Fecha de Inicio</b></td>
                    <td><b>Fecha de Fin</b></td>
                    <td><b>Acciones</b></td>
                  </tr>
                  <tr *ngFor="let m of empresaModalidades; let i = index;">
                    <td>{{m.modalidad.nombre.substring(0, 40)}}</td>
                    <td>{{m.submodalidad?.nombre.substring(0, 40)}}</td>
                    <td>{{m.numeroRegistroFederal}}</td>
                    <td>{{m.fechaInicio}}</td>
                    <td>{{m.fechaFin}}</td>
                    <td>
                      <fa-icon [icon]="faTrash" class="fakelink" (click)="eliminarModalidad(i)"></fa-icon>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button (click)="next('DOMICILIOS', empresaCreacionForm)" class="btn btn-primary">Siguiente:
                  Domicilios
                </button>
              </div>
            </div>
          </div>

          <!-- STEP 2 - Psychologist information -->
          <div id="test-l-2" class="content">

            <form [formGroup]="empresaDomiciliosForm">
              <div class="row">
                <div class="col-sm-6">
                  <label for="nombre">
                    <b>Nombre del domicilio *</b>
                    <span *ngIf="empresaDomiciliosForm.controls['nombre'].invalid && (empresaDomiciliosForm.controls['nombre'].dirty || empresaDomiciliosForm.controls['nombre'].touched)" class="text-danger"> - Requerido</span>
                  </label>
                  <input id="nombre" type="text" class="form-control" placeholder="Ej. Sucursal del norte, Matriz" formControlName="nombre" #nombre>
                </div>
                <div class="col-sm-3">
                  <label for="matriz">
                    <b>Matriz *</b>
                    <span *ngIf="empresaDomiciliosForm.controls['matriz'].invalid && (empresaDomiciliosForm.controls['matriz'].dirty || empresaDomiciliosForm.controls['matriz'].touched)" class="text-danger"> - Requerido</span>
                  </label>
                  <select id="matriz" formControlName="matriz" class="form-control">
                    <option value="true">SI</option>
                    <option value="false">NO</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <label for="domicilio1">
                    <b>Domicilio * </b>
                    <span *ngIf="empresaDomiciliosForm.controls['domicilio1'].invalid && (empresaDomiciliosForm.controls['domicilio1'].dirty || empresaDomiciliosForm.controls['domicilio1'].touched)" class="text-danger"> - Requerido</span>
                  </label>
                  <input id="domicilio1" type="text" class="form-control" placeholder="Ej. Av. Malecon 1000" formControlName="domicilio1" #address1>
                </div>
                <div class="col-sm-4">
                  <label for="domicilio2">
                    <b>Colonia *</b>
                    <span *ngIf="empresaDomiciliosForm.controls['domicilio2'].invalid && (empresaDomiciliosForm.controls['domicilio2'].dirty || empresaDomiciliosForm.controls['domicilio2'].touched)" class="text-danger"> - Requerido</span>
                  </label>
                  <input id="domicilio2" type="text" class="form-control" placeholder="Ej. Colonia 20 de Noviembre" formControlName="domicilio2" #domicilio2>
                </div>
                <div class="col-sm-4">
                  <label for="domicilio3">
                    <b>Municipio *</b>
                    <span *ngIf="empresaDomiciliosForm.controls['domicilio3'].invalid && (empresaDomiciliosForm.controls['domicilio3'].dirty || empresaDomiciliosForm.controls['domicilio3'].touched)" class="text-danger"> - Requerido</span>
                  </label>
                  <input id="domicilio3" type="text" class="form-control" placeholder="Ej. Tonala" formControlName="domicilio3" #domicilio3>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3">
                  <label for="estado">
                    <b>Estado *</b>
                    <span *ngIf="empresaDomiciliosForm.controls['estado'].invalid && (empresaDomiciliosForm.controls['estado'].dirty || empresaDomiciliosForm.controls['estado'].touched)" class="text-danger"> - Requerido</span>
                  </label>
                  <select id="estado" formControlName="estado" class="form-control">
                    <option value="AGUASCALIENTES">Aguascalientes</option>
                    <option value="BAJA CALIFORNIA">Baja California</option>
                    <option value="BAJA CALIFORNIA SUR">Baja California Sur</option>
                    <option value="CAMPECHE">Campeche</option>
                    <option value="CIUDAD DE MEXICO">Baja California</option>
                    <option value="COAHUILA">Coahuila</option>
                    <option value="COLIMA">Colima</option>
                    <option value="CHIAPAS">Chiapas</option>
                    <option value="CHIHUAHUA">Chihuahua</option>
                    <option value="DURANGO">Durango</option>
                    <option value="ESTADO DE MEXICO">Estado de Mexico</option>
                    <option value="GUANAJUATO">Guanajuato</option>
                    <option value="GUERRERO">Guerrero</option>
                    <option value="HIDALGO">Hidalgo</option>
                    <option value="JALISCO">Jalisco</option>
                    <option value="MICHOACAN">Michoacan</option>
                    <option value="MORELOS">Morelos</option>
                    <option value="NAYARIT">Nayarit</option>
                    <option value="NUEVO LEON">Nuevo Leon</option>
                    <option value="OAXACA">Oaxaca</option>
                    <option value="PUEBLA">Puebla</option>
                    <option value="QUERETARO">Queretaro</option>
                    <option value="QUINTANA ROO">Quintana Roo</option>
                    <option value="SAN LUIS POTOSI">San Luis Potosi</option>
                    <option value="SINALOA">Sinaloa</option>
                    <option value="SONORA">Sonora</option>
                    <option value="TABASCO">Tabasco</option>
                    <option value="TAMAULIPAS">Tamaulipas</option>
                    <option value="TLAXCALA">Tlaxcala</option>
                    <option value="VERACRUZ">Veracruz</option>
                    <option value="YUCATAN">Yucatan</option>
                    <option value="ZACATECAS">Zacatecas</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <label for="pais">
                    <b>Pais *</b>
                    <span *ngIf="empresaDomiciliosForm.controls['pais'].invalid && (empresaDomiciliosForm.controls['pais'].dirty || empresaDomiciliosForm.controls['pais'].touched)" class="text-danger"> - Requerido</span>
                  </label>
                  <input id="pais" type="text" class="form-control" placeholder="Ej. Mexico" formControlName="pais" #pais>
                </div>
                <div class="col-sm-3">
                  <label for="codigoPostal">
                    <b>Codigo Postal *</b>
                    <span *ngIf="empresaDomiciliosForm.controls['codigoPostal'].invalid && (empresaDomiciliosForm.controls['codigoPostal'].dirty || empresaDomiciliosForm.controls['codigoPostal'].touched)" class="text-danger"> - Requerido</span>
                  </label>
                  <input id="codigoPostal" type="text" class="form-control" placeholder="Ej. 45010" formControlName="codigoPostal" #codigoPostal>
                </div>
                <div class="col-sm-3">
                  <label for="domicilio4">
                    <b>Referencia</b>
                  </label>
                  <input id="domicilio4" type="text" class="form-control" placeholder="Ej. Entre Calles, Edificio" formControlName="domicilio4" #domicilio4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <label for="telefonoFijo">
                    <b>Telefono Fijo</b>
                  </label>
                  <input id="telefonoFijo" type="text" class="form-control" placeholder="Ej. 3312345678" formControlName="telefonoFijo" #telefonoFijo>
                </div>
                <div class="col-sm-3">
                  <label for="telefonoMovil">
                    <b>Telefono Movil</b>
                  </label>
                  <input id="telefonoMovil" type="text" class="form-control" placeholder="Ej. 3312345678" formControlName="telefonoMovil" #telefonoMovil>
                </div>
              </div>
            </form>
            <div class="row" style="margin-top: 20px;">
              <div class="col-sm-12">
                <button class="btn btn-outline-primary" (click)="agregarDomicilio(empresaDomiciliosForm)">Agregar</button>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <table class="table">
                  <tr>
                    <td><b>Nombre</b></td>
                    <td><b>Matriz</b></td>
                    <td><b>Domicilio</b></td>
                    <td><b>N. Ext</b></td>
                    <td><b>N. Int</b></td>
                    <td><b>Colonia</b></td>
                    <td><b>Municipio</b></td>
                    <td><b>Estado</b></td>
                    <td><b>Pais</b></td>
                    <td><b>Codigo postal</b></td>
                    <td><b>Referencia</b></td>
                    <td><b>Telefono fijo</b></td>
                    <td><b>Telefono movil</b></td>
                    <td><b>Acciones</b></td>
                  </tr>
                  <tr *ngFor="let d of empresaDomicilios; let i = index">
                    <td>{{d.nombre}}</td>
                    <td>{{d.matriz}}</td>
                    <td>{{d.domicilio1}}</td>
                    <td>{{d.numeroExterior}}</td>
                    <td>{{d.numeroInterior}}</td>
                    <td>{{d.domicilio2}}</td>
                    <td>{{d.domicilio3}}</td>
                    <td>{{d.estado}}</td>
                    <td>{{d.pais}}</td>
                    <td>{{d.codigoPostal}}</td>
                    <td>{{d.domicilio4}}</td>
                    <td>{{d.telefonoFijo}}</td>
                    <td>{{d.telefonoMovil}}</td>
                    <td>
                      <fa-icon [icon]="faTrash" class="fakelink" (click)="eliminarDomicilio(i)"></fa-icon>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <button (click)="previous()" class="btn btn-primary">Anterior:
                  Empresa
                </button>
                <button (click)="next('LEGAL', undefined)" class="btn btn-primary">Siguiente:
                  Legal
                </button>
              </div>
            </div>
          </div>

          <!-- STEP 3 - SUMMARY -->
          <div id="test-l-3" class="content">
            <div class="row">

            </div>
            <div class="row">
              <div class="col-sm-12">
                <button (click)="previous()" class="btn btn-primary">Anterior:
                  Domicilios
                </button>
                <button (click)="next('FORMAS_EJECUCION', undefined)" class="btn btn-primary">Siguiente:
                  Formas de ejecucion
                </button>
              </div>
            </div>
          </div>
          <div id="test-l-4" class="content">
            <div class="row">
              <div class="col-sm-12">
                <button (click)="previous()" class="btn btn-primary">Anterior:
                  Legal
                </button>
                <button (click)="next('PSYCHOLOGISTS', empresaCreacionForm)" class="btn btn-primary">Siguiente:
                  Resumen
                </button>
              </div>
            </div>
          </div>
          <div id="test-l-5" class="content">
            <div class="row">
              <div class="col-sm-12">
                <button (click)="previous()" class="btn btn-primary">Anterior:
                  Permisos
                </button>
                <button (click)="next('PSYCHOLOGISTS', empresaCreacionForm)" class="btn btn-primary">
                  Guardar empresa
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
