<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bienvenido a ARGOS</h1>
    <!--a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i> Generate Report</a-->
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Mis incidencias abiertas</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardData?.incidenciasAbiertas}}</div>
            </div>
            <div class="col-auto">
              <fa-icon [icon]="faTicketAlt" size="2x" class="text-gray-300"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Incidencias abiertas totales</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardData?.incidenciasAbiertas}}</div>
            </div>
            <div class="col-auto">
              <fa-icon [icon]="faTicketAlt" size="2x" class="text-gray-300"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Visitas del mes
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">72/90</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar"
                         style="width: 85%" aria-valuenow="50" aria-valuemin="0"
                         aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <fa-icon [icon]="faTicketAlt" size="2x" class="text-gray-300"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Pendientes</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <fa-icon [icon]="faTicketAlt" size="2x" class="text-gray-300"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">


    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">

        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Proximas visitas</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon [icon]="faTicketAlt"></fa-icon>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart-area">
            <table class="table">
              <tr>
                <td><b>Fecha</b></td>
                <td><b>Tipo</b></td>
                <td><b>Nombre comercial</b></td>
                <td><b>Razon social</b></td>
                <td><b>Responsable</b></td>
              </tr>
              <tr *ngFor="let v of dashboardData?.proximasVisitas">
                <td>{{v.fechaVisita}}</td>
                <td>{{v.tipoVisita}}</td>
                <td>{{v.nombreComercial}}</td>
                <td>{{v.razonSocial}}</td>
                <td>{{v.responsable?.nombres + " " + v.responsable?.apellidos}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">

        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Padron actual</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon [icon]="faTicketAlt"></fa-icon>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <google-chart #chart
                        [data]="data" [type]="type" [width]="width" [height]="height">

          </google-chart>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">

    <div class="col-lg-6 mb-4">

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Estatus del padron</h6>
        </div>
        <div class="card-body">
          <h4 class="small font-weight-bold">Activas <span
            class="float-right">{{(dashboardData?.empresasActivas / dashboardData?.totalEmpresasRegistradas) * 100}}% ({{dashboardData?.empresasActivas}} / {{dashboardData?.totalEmpresasRegistradas}})</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="(dashboardData?.empresasActivas / dashboardData?.totalEmpresasRegistradas) * 100"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Perdida de Eficacia <span
            class="float-right">{{(dashboardData?.empresasPerdidaEficacia / dashboardData?.totalEmpresasRegistradas) * 100}}% ({{dashboardData?.empresasPerdidaEficacia}} / {{dashboardData?.totalEmpresasRegistradas}})</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="(dashboardData?.empresasPerdidaEficacia / dashboardData?.totalEmpresasRegistradas) * 100"
                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Revocadas <span
            class="float-right">{{(dashboardData?.empresasRevocadas / dashboardData?.totalEmpresasRegistradas) * 100}}% ({{dashboardData?.empresasRevocadas}} / {{dashboardData?.totalEmpresasRegistradas}})</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar" role="progressbar"  [style.width.%]="(dashboardData?.empresasRevocadas / dashboardData?.totalEmpresasRegistradas) * 100"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Suspendidas <span
            class="float-right">{{(dashboardData?.empresasSuspendidas / dashboardData?.totalEmpresasRegistradas) * 100}}% ({{dashboardData?.empresasSuspendidas}} / {{dashboardData?.totalEmpresasRegistradas}})</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar"  [style.width.%]="(dashboardData?.empresasSuspendidas / dashboardData?.totalEmpresasRegistradas) * 100"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Clausuradas <span
            class="float-right">{{(dashboardData?.empresasClausuradas / dashboardData?.totalEmpresasRegistradas) * 100}}% ({{dashboardData?.empresasClausuradas}} / {{dashboardData?.totalEmpresasRegistradas}})</span></h4>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar"  [style.width.%]="(dashboardData?.empresasClausuradas / dashboardData?.totalEmpresasRegistradas) * 100"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <!--div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card bg-primary text-white shadow">
            <div class="card-body">
              Primary
              <div class="text-white-50 small">#4e73df</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card bg-success text-white shadow">
            <div class="card-body">
              Success
              <div class="text-white-50 small">#1cc88a</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card bg-info text-white shadow">
            <div class="card-body">
              Info
              <div class="text-white-50 small">#36b9cc</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card bg-warning text-white shadow">
            <div class="card-body">
              Warning
              <div class="text-white-50 small">#f6c23e</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card bg-danger text-white shadow">
            <div class="card-body">
              Danger
              <div class="text-white-50 small">#e74a3b</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card bg-secondary text-white shadow">
            <div class="card-body">
              Secondary
              <div class="text-white-50 small">#858796</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card bg-light text-black shadow">
            <div class="card-body">
              Light
              <div class="text-black-50 small">#f8f9fc</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card bg-dark text-white shadow">
            <div class="card-body">
              Dark
              <div class="text-white-50 small">#5a5c69</div>
            </div>
          </div>
        </div>
      </div-->

    </div>

    <div class="col-lg-6 mb-4">

      <!--div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                 src="img/undraw_posting_photo.svg" alt="...">
          </div>
          <p>Add some quality, svg illustrations to your project courtesy of <a
            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
            constantly updated collection of beautiful svg images that you can use
            completely free and without attribution!</p>
          <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
            unDraw &rarr;</a>
        </div>
      </div-->

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Mensajes del sistema</h6>
        </div>
        <div class="card-body">
          <p>En este momento no hay mensajes del sistema. Puedes seguir trabajando tranquilo :D</p>
        </div>
      </div>

    </div>
  </div>

</div>
  <!-- /.container-fluid -->
