<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Configuracion - General</h1>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a routerLink="/home/configuracion" class="list-group-item list-group-item-action active">
          General
        </a>
        <a routerLink="/home/configuracion/usuarios" class="list-group-item list-group-item-action">Control de usuarios</a>
        <a routerLink="/home/configuracion/acerca" class="list-group-item list-group-item-action">Acerca</a>
      </div>
    </div>
    <div class="col-sm-9" style="background: white">
    </div>
  </div>
</div>
