<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Configuracion - Usuarios</h1>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a routerLink="/home/configuracion" class="list-group-item list-group-item-action">
          General
        </a>
        <a routerLink="/home/configuracion/usuarios" class="list-group-item list-group-item-action">Control de usuarios</a>
        <a routerLink="/home/configuracion/acerca" class="list-group-item list-group-item-action active">Acerca</a>
      </div>
    </div>
    <div class="col-sm-9" style="background: white">
      <h2>CEEMSP Argos</h2>
      <hr>
      <p>Version 22.04.04</p>
      <p>Copyright. Derechos Reservados Consejo Estatal de Seguridad Publica (CESP) y Control Estatal de Empresas de Seguridad Privada (CEEMSP)</p>
      <p>El proyecto fue realizado utilizando algunos elementos de codigo abierto, para verlos todos puede hacer click para leer el detalle de los mismos.</p>
    </div>
  </div>
</div>
