<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Detalles de empresa</h1>
    <div class="btn-group">
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="mostrarEditarEmpresaModal(editarEmpresaModal)">Editar</button>
      <button class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" printSectionId="fichaInformativaData" styleSheetFile="assets/pdf.css" printTitle="Ficha infomativa: {{empresa?.registro}}" ngxPrint>Generar ficha informativa</button>
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="mostrarModalModalidades(mostrarModalidadesModal)" style="cursor: pointer;">Ver modalidades</a>
          <a class="dropdown-item" (click)="mostrarModalFormasEjecucion(mostrarFormasEjecucionModal)" style="cursor: pointer;">Ver formas de ejecucion</a>
          <a class="dropdown-item" (click)="mostrarModalCambioInicioSesion(crearUsuarioModal)" style="cursor: pointer;">Cambiar datos de inicio de sesion</a> <!-- TODO: CAMBIAR EL MODAL -->
          <a class="dropdown-item" (click)="mostrarModalCambiarStatus(editarStatusModal)" style="cursor: pointer;">Cambiar status / Eliminar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="fichaInformativaData">
    <div class="col-sm-12">
      <div class="row" id="header" style="display: none;">
        <div style="width: 25%; float: left;">
          <!--img src="https://www.armadurasdejalisco.com/img/Slogo2.jpg" alt="Logo de Armaduras de Jalisco" style="width: 60%;"-->
        </div>
        <div style="width: 70%; float: left;">
          <p>
            <b>Consejo Estatal de Seguridad Publica</b><br>
            <b>Control Estatal de Seguridad de Empresas de Seguridad Privada</b><br>
            Av. de la Paz 875. Colonia Mexicaltzingo, Guadalajara, Jalisco.<br>
            <br>
          </p>
          <h2>Ficha informativa</h2>
        </div>
      </div>

      <div id="contenidoFichaInformativa" class="row" style="min-height: 75vh; float: left; width: 90%; display: none;">
        <h3>Informacion general de la empresa</h3>
        <hr>
        <table class="table table-borderless">
          <tr>
            <td *ngIf="empresa?.tipoPersona === 'MORAL'"><b>Razon social</b></td>
            <td *ngIf="empresa?.tipoPersona === 'FISICA'"><b>Nombre completo</b></td>
            <td>{{empresa?.razonSocial}}</td>
          </tr>
          <tr>
            <td><b>Nombre comercial</b></td>
            <td>{{empresa?.nombreComercial}}</td>
          </tr>
          <tr>
            <td><b>Fecha de autorizacion / registro:</b></td>
            <td>{{"Pendiente"}}</td>
          </tr>
          <tr>
            <td><b>Numero de expediente administrativo</b></td>
            <td>{{empresa?.registro}}</td>
          </tr>
          <tr>
            <td><b>RFC</b></td>
            <td>{{empresa?.rfc}}</td>
          </tr>
          <tr *ngIf="empresa?.tipoPersona === 'FISICA'">
            <td><b>CURP:</b></td>
            <td>{{empresa?.curp}}</td>
          </tr>
          <tr *ngIf="empresa?.tipoPersona === 'FISICA'">
            <td><b>Sexo:</b></td>
            <td>{{empresa?.sexo}}</td>
          </tr>
          <tr>
            <td><b>Status</b></td>
            <td [ngSwitch]="empresa?.status">
              <span *ngSwitchCase="'ACTIVA'">Activa</span>
              <span *ngSwitchCase="'SUSPENDIDA'">Suspendida</span>
              <span *ngSwitchCase="'REVOCADA'">Revocada</span>
              <span *ngSwitchCase="'CLAUSURADA'">Clausurada</span>
              <span *ngSwitchCase="'PERDIDA_EFICACIA'">Perdida de eficacia</span>
            </td>
          </tr>
          <tr>
            <td><b>Observaciones:</b></td>
            <td>{{empresa?.observaciones}}</td>
          </tr>
        </table>
        <br>

        <h3>Modalidades</h3>
        <hr>
        <div class="row" *ngFor="let m of empresaModalidades; let i = index">
          <h4>Modalidad: {{i + 1}}</h4>
          <p><b>Nombre:</b>{{m?.modalidad.nombre}}</p>
          <br>
        </div>
        <br>

        <h3>Formas de ejecucion</h3>
        <hr>
        <div class="row" *ngFor="let f of empresaFormasEjecucion; let i = index">
          <h4>Forma de ejecucion: {{i + 1}}</h4>
          <p><b>Nombre:</b>{{f?.formaEjecucion}}</p>
          <br>
        </div>
        <br>

        <h3>Informacion legal y notarial</h3>
        <hr>
        <div class="row" *ngFor="let e of escrituras; let i = index">
          <h4>Escritura: {{i + 1}}</h4>
          <p><b>Numero de escritura:</b> {{e?.numeroEscritura}}</p>
          <p><b>Institucion de fe:</b> {{e?.tipoFedatario + " numero " + e?.numero + " de la ciudad de " + e?.ciudad}}</p>
          <p><b>Fedatario:</b>{{e?.nombreFedatario}}</p>
          <p><b>Descripcion:</b>{{e?.descripcion}}</p>
          <div class="row">
            <b>Socios</b>
            <table class="table table-bordered" style="border: 1px solid;">
              <tr>
                <td><b>Nombre(s)</b></td>
                <td><b>Apellido(s)</b></td>
                <td><b>Sexo</b></td>
                <td><b>Porcentaje</b></td>
              </tr>
              <tr *ngFor="let s of e?.socios">
                <td>{{s.nombres}}</td>
                <td>{{s.apellidos}}</td>
                <td>{{s.sexo}}</td>
                <td>{{s.porcentajeAcciones}}</td>
              </tr>
            </table>
          </div>
          <br>
          <div class="row">
            <b>Apoderados</b>
            <table class="table" style="border: 1px solid;">
              <tr>
                <td><b>Nombre(s)</b></td>
                <td><b>Apellido(s)</b></td>
                <td><b>Sexo</b></td>
                <td><b>F. Inicio</b></td>
                <td><b>F. Termino</b></td>
              </tr>
              <tr *ngFor="let a of e?.apoderados">
                <td>{{a.nombres}}</td>
                <td>{{a.apellidos}}</td>
                <td>{{a.sexo}}</td>
                <td>{{a.fechaInicio}}</td>
                <td>{{a.fechaFin}}</td>
              </tr>
            </table>
          </div>
          <br>
          <div class="row">
            <b>Representantes</b>
            <table class="table" style="border: 1px solid;">
              <tr>
                <td><b>Nombre(s)</b></td>
                <td><b>Apellido(s)</b></td>
                <td><b>Sexo</b></td>
              </tr>
              <tr *ngFor="let r of e?.representantes">
                <td>{{r.nombres}}</td>
                <td>{{r.apellidos}}</td>
                <td>{{r.sexo}}</td>
              </tr>
            </table>
          </div>
          <br>
          <div class="row">
            <b>Consejos</b>
            <table class="table" style="border: 1px solid;">
              <tr >
                <td><b>Nombre(s)</b></td>
                <td><b>Apellido(s)</b></td>
                <td><b>Sexo</b></td>
                <td><b>Puesto</b></td>
              </tr>
              <tr *ngFor="let c of e?.consejos">
                <td>{{c.nombres}}</td>
                <td>{{c.apellidos}}</td>
                <td>{{c.sexo}}</td>
                <td>{{c.puesto}}</td>
              </tr>
            </table>
          </div>
          <br>
        </div>
        <br>

        <h3>Domicilios</h3>
        <hr>
        <div class="row" *ngFor="let d of domicilios;  let i = index">
          <h4>Domicilio: {{i + 1}}</h4>
          <p><b>Nombre del domicilio:</b>{{d.nombre}}</p>
          <p><b>Direccion:</b>{{d.domicilio1 + " " + d.numeroExterior + ". Colonia: " + d.domicilio2 + ", " + d.domicilio3 + ", " + d.estado + ". Codigo postal: " + d.codigoPostal}}</p>
          <p><b>Codigo postal:</b>{{d.codigoPostal}}</p>
          <p><b>Telefono fijo:</b>{{d.telefonoFijo}}</p>
          <p><b>Telefono movil:</b>{{d.telefonoMovil}}</p>
        </div>

        <h3>Visitas de inspeccion</h3>
        <hr>
        <div class="row" *ngFor="let v of visitas;  let i = index">
          <h4>Visita: {{v?.numeroOrden}}</h4>
          <p><b>Numero de orden</b> {{v?.numeroOrden}}</p>
          <p><b>Fecha</b> {{v?.fechaVisita}}</p>
          <p><b>Tipo</b> {{v?.tipoVisita}}</p>
          <p><b>Fecha termino</b> {{v?.fechaTermino}}</p>
          <p><b>Requerimiento</b> {{v?.requerimiento}}</p>
          <p><b>Detalles del requerimiento</b> {{v?.detallesRequerimiento}}</p>
        </div>

        <h3>Observaciones</h3>
        <hr>
        <div class="row">
          <p>{{empresa?.observaciones}}</p>
        </div>
      </div>

    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a routerLink="/home/empresas/{{empresa?.uuid}}" class="list-group-item list-group-item-action active">
          Detalles
        </a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/acuerdos" class="list-group-item list-group-item-action">Acuerdos</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/domicilios" class="list-group-item list-group-item-action">Domicilios</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/legal" class="list-group-item list-group-item-action">Legal</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/licencias" class="list-group-item list-group-item-action" *ngIf="empresa?.tieneArmas">Licencias colectivas / Armas</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/canes" class="list-group-item list-group-item-action" *ngIf="empresa?.tieneCanes">Canes</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/vehiculos" class="list-group-item list-group-item-action">Vehiculos</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/incidencias" class="list-group-item list-group-item-action">Incidencias</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/clientes" class="list-group-item list-group-item-action">Clientes</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/personal" class="list-group-item list-group-item-action">Personal</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/equipo" class="list-group-item list-group-item-action">Equipo / Fornituras</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/uniformes" class="list-group-item list-group-item-action">Uniformes</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/socios" class="list-group-item list-group-item-action">Socios</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/apoderados" class="list-group-item list-group-item-action">Apoderados</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/representantes" class="list-group-item list-group-item-action">Representantes</a>
        <a routerLink="/home/empresas/{{empresa?.uuid}}/miembros-consejo" class="list-group-item list-group-item-action">Miembros del consejo</a>
      </div>
    </div>
    <div class="col-sm-9" style="background: white">
      <table class="table">
        <tr>
          <td><b>Registro</b></td>
          <td>{{empresa?.registro}}</td>
        </tr>
        <tr>
          <td><b>Nombre comercial</b></td>
          <td>{{empresa?.nombreComercial}}</td>
        </tr>
        <tr>
          <td><b>Razon social</b></td>
          <td>{{empresa?.razonSocial}}</td>
        </tr>
        <tr>
          <td><b>RFC</b></td>
          <td>{{empresa?.rfc}}</td>
        </tr>
        <tr>
          <td><b>Tipo de persona</b></td>
          <td>{{empresa?.tipoPersona}}</td>
        </tr>
        <tr>
          <td><b>Tipo de tramite</b></td>
          <td>{{empresa?.tipoTramite}}</td>
        </tr>

        <tr *ngIf="empresa?.tipoPersona === 'FISICA'">
          <td><b>CURP</b></td>
          <td>{{empresa?.curp}}</td>
        </tr>
        <tr *ngIf="empresa?.tipoPersona === 'FISICA'">
          <td><b>Sexo</b></td>
          <td>{{empresa?.sexo}}</td>
        </tr>
        <tr>
          <td><b>Correo electronico: </b></td>
          <td>{{empresa?.correoElectronico}}</td>
        </tr>
        <tr>
          <td><b>Telefono: </b></td>
          <td>{{empresa?.telefono}}</td>
        </tr>
        <tr *ngIf="empresa?.tipoTramite === 'EAFJAL'">
          <td><b>Numero de Registro Federal: </b></td>
          <td>{{empresa?.registroFederal}}</td>
        </tr>
        <tr *ngIf="empresa?.tipoTramite === 'EAFJAL'">
          <td><b>Fecha de inicio: </b></td>
          <td>{{empresa?.fechaInicio}}</td>
        </tr>
        <tr *ngIf="empresa?.tipoTramite === 'EAFJAL'">
          <td><b>Fecha de fin: </b></td>
          <td>{{empresa?.fechaFin}}</td>
        </tr>
        <tr>
          <td><b>Fecha de creacion:</b></td>
          <td>{{empresa?.fechaCreacion}}</td>
        </tr>
        <tr>
          <td><b>Status</b></td>
          <td [ngSwitch]="empresa?.status">
            <span *ngSwitchCase="'ACTIVA'">Activa</span>
            <span *ngSwitchCase="'SUSPENDIDA'">Suspendida</span>
            <span *ngSwitchCase="'REVOCADA'">Revocada</span>
            <span *ngSwitchCase="'CLAUSURADA'">Clausurada</span>
            <span *ngSwitchCase="'PERDIDA_EFICACIA'">Perdida de eficacia</span>
          </td>
        </tr>
        <tr>
          <td><b>Observaciones</b></td>
          <td>{{empresa?.observaciones}}</td>
        </tr>
      </table>
    </div>
  </div>

  <ng-template #crearUsuarioModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="crearUsuarioModal">Crear o modificar usuario</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="empresaUsuarioForm">
            <div class="form-row">
              <div class="col-sm-4">
                <label for="usuario">
                  <b>Usuario *</b>
                  <span
                    *ngIf="empresaUsuarioForm.controls['usuario'].invalid && (empresaUsuarioForm.controls['usuario'].dirty || empresaUsuarioForm.controls['usuario'].touched)">
                        <i *ngIf="empresaUsuarioForm.controls['apellidos'].errors.required" class="error-text"> - Campo requerido</i>
                      </span>
                </label>
                <input class="form-control" id="usuario" type="text" formControlName="usuario" placeholder="Se genera en funcion del registro" disabled>
              </div>
              <div class="col-sm-4">
                <label for="email">
                  <b>Correo electronico *</b>
                  <span
                    *ngIf="empresaUsuarioForm.controls['email'].invalid && (empresaUsuarioForm.controls['email'].dirty || empresaUsuarioForm.controls['email'].touched)">
                        <i *ngIf="empresaUsuarioForm.controls['email'].errors.required" class="error-text"> - Campo requerido</i>
                        <i *ngIf="empresaUsuarioForm.controls['email'].errors.email" class="error-text"> - No es un email</i>
                      </span>
                </label>
                <input class="form-control" id="email" type="email" formControlName="email" (focusout)="consultarEmail($event.target)" placeholder="Ejemplo: hola@hotmail.com">
              </div>
              <div class="col-sm-4">
                <label for="password">
                  <b>Contrasena <a style="color:#0057a0; cursor: pointer;" class="fakelink" (click)="autogenerarContrasena()">(autogenerar)</a></b>
                  <span
                    *ngIf="empresaUsuarioForm.controls['password'].invalid && (empresaUsuarioForm.controls['password'].dirty || empresaUsuarioForm.controls['password'].touched)">
                      </span>
                </label>
                <input class="form-control" id="password" type="password" formControlName="password" placeholder="De 8 a 15 caracteres.">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="guardarUsuario(empresaUsuarioForm)">Guardar cambios</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #editarStatusModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="editarStatusModal">Cambiar status de la empresa</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="empresaCambioStatusForm">
            <div class="row">
              <div class="col-sm-6">
                <label for="status">
                  <b>Nuevo status *</b>
                  <span
                    *ngIf="empresaCambioStatusForm.controls['status'].invalid && (empresaCambioStatusForm.controls['status'].dirty || empresaCambioStatusForm.controls['status'].touched)">
                      <i *ngIf="empresaCambioStatusForm.controls['status'].errors.required" class="error-text"> - Campo requerido</i>
                    </span>
                </label>
                <select class="form-control" name="status" id="status" formControlName="status">
                  <option value="ACTIVA">Activa</option>
                  <option value="PERDIDA_EFICACIA">Perdida de eficacia</option>
                  <option value="SUSPENDIDA">Suspendida</option>
                  <option value="REVOCADA">Revocada</option>
                  <option value="CLAUSURADA">Clausurada</option>
                </select>
              </div>
              <div class="col-sm-6">
                <label for="status">
                  <b>Observaciones *</b>
                  <span
                    *ngIf="empresaCambioStatusForm.controls['observaciones'].invalid && (empresaCambioStatusForm.controls['observaciones'].dirty || empresaCambioStatusForm.controls['observaciones'].touched)">
                      <i *ngIf="empresaCambioStatusForm.controls['observaciones'].errors.required" class="error-text"> - Campo requerido</i>
                    </span>
                </label>
                <textarea name="observaciones" id="observaciones" class="form-control" formControlName="observaciones"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="cambiarStatusEmpresa(empresaCambioStatusForm)">Guardar cambios</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #editarEmpresaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="editarEmpresaModal">Editar empresa </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="empresaCreacionForm">
            <div class="form-row">
              <div class="col-sm-3">
                <label for="razonSocial">
                  <b>Razon Social *</b>
                  <span
                    *ngIf="empresaCreacionForm.controls['razonSocial'].invalid && (empresaCreacionForm.controls['razonSocial'].dirty || empresaCreacionForm.controls['razonSocial'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['razonSocial'].errors.required" class="text-danger"> - Campo requerido</i>
                      <i *ngIf="empresaCreacionForm.controls['razonSocial'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                    </span>
                </label>
                <input class="form-control" id="razonSocial" type="text" formControlName="razonSocial" placeholder="Ejemplo. Hola S.A. de C.V.">
              </div>
              <div class="col-sm-3">
                <label for="nombreComercial">
                  <b>Nombre comercial *</b>
                  <span
                    *ngIf="empresaCreacionForm.controls['nombreComercial'].invalid && (empresaCreacionForm.controls['nombreComercial'].dirty || empresaCreacionForm.controls['nombreComercial'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['nombreComercial'].errors.required" class="text-danger"> - Campo requerido</i>
                      <i *ngIf="empresaCreacionForm.controls['nombreComercial'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                    </span>
                </label>
                <input class="form-control" id="nombreComercial" type="text" formControlName="nombreComercial" placeholder="Ejemplo. Hola Empresa">
              </div>
              <div class="col-sm-3" *ngIf="tipoPersona === 'FISICA'">
                <label for="curp">
                  <b>CURP</b>
                </label>
                <input class="form-control" id="curp" type="text" formControlName="curp" placeholder="Ejemplo. XAXX010101ABCDEFGH">
              </div>
              <div class="col-sm-3" *ngIf="tipoPersona === 'FISICA'">
                <label for="sexo">
                  <b>Sexo</b>
                </label>
                <select id="sexo" class="form-control" formControlName="sexo">
                  <option value="MASCULINO">MASCULINO</option>
                  <option value="FEMENINO">FEMENINO</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-3">
                <label for="tipoPersona">
                  <b>Tipo de persona *</b>
                  <span
                    *ngIf="empresaCreacionForm.controls['tipoPersona'].invalid && (empresaCreacionForm.controls['tipoPersona'].dirty || empresaCreacionForm.controls['tipoPersona'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['tipoPersona'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                </label>
                <select id="tipoPersona" class="form-control" formControlName="tipoPersona" (change)="cambiarTipoPersona($event.target)">
                  <option value="FISICA">FISICA</option>
                  <option value="MORAL">MORAL</option>
                </select>
              </div>
              <div class="col-sm-3">
                <label for="rfc">
                  <b>RFC *</b>
                  <span
                    *ngIf="empresaCreacionForm.controls['rfc'].invalid && (empresaCreacionForm.controls['rfc'].dirty || empresaCreacionForm.controls['rfc'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['rfc'].errors.required" class="text-danger"> - Campo requerido</i>
                      <i *ngIf="empresaCreacionForm.controls['rfc'].errors.minlength" class="text-danger"> - Faltan caracteres </i>
                      <i *ngIf="empresaCreacionForm.controls['rfc'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                    </span>
                </label>
                <input class="form-control" id="rfc" type="text" formControlName="rfc" placeholder="Ejemplo. XAXX010101AAA">
              </div>
              <div class="col-sm-3">
                <label for="correoElectronico">
                  <b>Correo principal *</b>
                  <span
                    *ngIf="empresaCreacionForm.controls['correoElectronico'].invalid && (empresaCreacionForm.controls['correoElectronico'].dirty || empresaCreacionForm.controls['correoElectronico'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['correoElectronico'].errors.required" class="text-danger"> - Campo requerido</i>
                      <i *ngIf="empresaCreacionForm.controls['correoElectronico'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                      <i *ngIf="empresaCreacionForm.controls['correoElectronico'].errors.email" class="text-danger"> - No es un email</i>
                    </span>
                </label>
                <input class="form-control" id="correoElectronico" type="email" formControlName="correoElectronico" placeholder="Ejemplo hola@hola.com">
              </div>
              <div class="col-sm-3">
                <label for="telefono">
                  <b>Telefono *</b>
                  <span
                    *ngIf="empresaCreacionForm.controls['telefono'].invalid && (empresaCreacionForm.controls['telefono'].dirty || empresaCreacionForm.controls['telefono'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['telefono'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                </label>
                <input class="form-control" id="telefono" type="text" formControlName="telefono" placeholder="Ejemplo 3312345678" appPhoneMask>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6">
                <label for="telefono">
                  <b>Registro * <i>(Toma en cuenta que, si actualizas el registro el usuario tambien sera actualizado para coincidir con el numero de registro)</i></b>
                  <span
                    *ngIf="empresaCreacionForm.controls['registro'].invalid && (empresaCreacionForm.controls['registro'].dirty || empresaCreacionForm.controls['registro'].touched)">
                      <i *ngIf="empresaCreacionForm.controls['registro'].errors.required" class="text-danger"> - Campo requerido</i>
                    </span>
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">CESP/{{empresa?.tipoTramite}}/</span>
                  </div>
                  <input class="form-control" id="registro" type="tel" formControlName="registro" (focusout)="verificarRegistro($event.target)" appNumberMask>
                  <div class="input-group-append">
                    <span class="input-group-text">/{{year}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-12">
                <label for="observaciones">
                  <b>Observaciones *</b>
                </label>
                <textarea class="form-control" id="observaciones" formControlName="observaciones" placeholder="Coloca aqui algun comentario de la empresa"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modificarEmpresa(empresaCreacionForm)">Guardar cambios</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #mostrarFormasEjecucionModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="mostrarFormasEjecucionModal">Ver formas de ejecucion </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Forma de ejecucion</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let fe of empresaFormasEjecucion">
              <td [ngSwitch]="fe?.formaEjecucion">
                <span *ngSwitchCase="'ARMAS'">Con portacion de armas de fuego</span>
                <span *ngSwitchCase="'CANES'">Con el auxilio de canes</span>
                <span *ngSwitchCase="'INSTRUMENTOS'">Con portacion de instrumentos de apoyo para control</span>
                <span *ngSwitchCase="'TECNOLOGIA'">Con apoyo de tecnologia</span>
              </td>
              <td>
                <fa-icon [icon]="faTrash" style="cursor: pointer;" (click)="mostrarEliminarFormaEjecucionModal(fe?.uuid)"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="!formularioFormasEjecucion">
              <td colspan="3">
                <button class="btn-primary btn-sm" (click)="mostrarFormularioFormaEjecucion()">Agregar forma de ejecucion</button>
              </td>
            </tr>
            <tr *ngIf="formularioFormasEjecucion">
              <td colspan="3">
                <div class="row">
                  <div class="col-sm-12">
                    <form [formGroup]="empresaFormaEjecucionForm" style="margin-top: 10px;">
                      <div class="form-row">
                        <div class="col-sm-6">
                          <label for="formaEjecucion">
                            <b>Forma de ejecucion *</b>
                            <span *ngIf="empresaFormaEjecucionForm.controls['formaEjecucion'].invalid && (empresaFormaEjecucionForm.controls['formaEjecucion'].dirty || empresaFormaEjecucionForm.controls['formaEjecucion'].touched)">
                              <i *ngIf="empresaFormaEjecucionForm.controls['formaEjecucion'].errors.required" class="error-text"> - Campo requerido</i>
                            </span>
                          </label>
                          <select id="formaEjecucion" class="form-control" formControlName="formaEjecucion">
                            <option value="ARMAS">Con portacion de armas de fuego</option>
                            <option value="CANES">Con el auxilio de canes</option>
                            <option value="INSTRUMENTOS">Con portacion de instrumentos de apoyo para control</option>
                            <option value="TECNOLOGIA">Con apoyo de tecnologia</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-sm btn-success" (click)="agregarFormaEjecucion(empresaFormaEjecucionForm)">Guardar cambios</button>
                    <button class="btn btn-sm btn-danger" (click)="mostrarFormularioFormaEjecucion()">Cancelar</button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #mostrarModalidadesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="mostrarModalidadesModal">Ver modalidades </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Modalidad</b></td>
              <td><b>Submodalidad</b></td>
              <td><b>Fecha Inicio</b></td>
              <td><b>Fecha Fin</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let m of empresaModalidades">
              <td>{{m.modalidad?.nombre}}</td>
              <td>
                <span *ngIf="m.submodalidad !== null">{{m.submodalidad?.nombre}}</span>
                <span *ngIf="m.submodalidad === null"></span>
              </td>
              <td>
                <span *ngIf="m.fechaInicio !== null">{{m.fechaInicio}}</span>
                <span *ngIf="m.fechaInicio === null"></span>
              </td>
              <td>
                <span *ngIf="m.fechaFin !== null">{{m.fechaFin}}</span>
                <span *ngIf="m.fechaFin === null"></span>
              </td>
              <td>
                <fa-icon [icon]="faTrash" style="cursor: pointer;" (click)="mostrarEliminarModalidadModal(m?.uuid)"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="!formularioModalidad">
              <td colspan="5">
                <button class="btn-primary btn-sm" (click)="mostrarFormularioModalidad()">Agregar modalidad</button>
              </td>
            </tr>
            <tr *ngIf="formularioModalidad">
              <td colspan="5">
                <div class="row">
                  <div class="col-sm-12">
                    <form [formGroup]="empresaModalidadForm" style="margin-top: 10px;">
                      <div class="form-row">
                        <div class="col-sm-3">
                          <label for="modalidad">
                            <b>Modalidad *</b>
                            <span *ngIf="empresaModalidadForm.controls['modalidad'].invalid && (empresaModalidadForm.controls['modalidad'].dirty || empresaModalidadForm.controls['modalidad'].touched)">
                              <i *ngIf="empresaModalidadForm.controls['modalidad'].errors.required" class="error-text"> - Campo requerido</i>
                            </span>
                          </label>
                          <select id="modalidad" class="form-control" formControlName="modalidad" (change)="seleccionarModalidad($event.target)">
                            <option *ngFor="let m of modalidades" value="{{m?.uuid}}">{{m?.nombre}}</option>
                          </select>
                        </div>
                        <div class="col-sm-3" *ngIf="modalidad?.tieneSubmodalidades">
                          <label for="submodalidad">
                            <b>Submodalidad</b>
                          </label>
                          <select id="submodalidad" class="form-control" formControlName="submodalidad">
                            <option *ngFor="let s of modalidad?.submodalidades" value="{{s?.uuid}}">{{s?.nombre}}</option>
                          </select>
                        </div>
                        <div class="col-sm-3" *ngIf="modalidad?.tipo === 'EAFJAL'">
                          <label for="numeroRegistroFederal">
                            <b>No. de Registro Federal</b>
                            <span
                              *ngIf="empresaModalidadForm.controls['numeroRegistroFederal'].invalid && (empresaModalidadForm.controls['numeroRegistroFederal'].dirty || empresaModalidadForm.controls['numeroRegistroFederal'].touched)">
                                <i *ngIf="empresaModalidadForm.controls['numeroRegistroFederal'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                              </span>
                          </label>
                          <input class="form-control" id="numeroRegistroFederal" type="text" formControlName="numeroRegistroFederal" placeholder="Ejemplo. 156861215">
                        </div>
                        <div class="col-sm-3" *ngIf="modalidad?.tipo === 'EAFJAL'">
                          <label for="fechaInicio">
                            <b>Fecha de Inicio</b>
                          </label>
                          <input class="form-control" id="fechaInicio" type="date" formControlName="fechaInicio" placeholder="Fecha inicio">
                        </div>
                        <div class="col-sm-3" *ngIf="modalidad?.tipo === 'EAFJAL'">
                          <label for="fechaFin">
                            <b>Fecha de Fin</b>
                          </label>
                          <input class="form-control" id="fechaFin" type="date" formControlName="fechaFin" placeholder="Fecha fin">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-sm btn-info" (click)="agregarModalidad(empresaModalidadForm)">Guardar cambios</button>
                    <button class="btn btn-sm btn-danger" (click)="ocultarFormularioModalidad()">Cancelar</button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #eliminarModalidadModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarModalidadModal">Eliminando la modalidad </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar una modalidad. Esta operacion no puede ser deshecha. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarModalidad()">Si, eliminar</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #eliminarFormaEjecucionModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarFormaEjecucionModal">Eliminando la forma de ejecucion </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar una forma de ejecucion. Esta operacion no puede ser deshecha. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarFormaEjecucion()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

</div>
