<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">
        <img src="assets/logo-ajustado-blanco.png" style="width: 100%;">
      </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span><fa-icon [icon]="faHome"></fa-icon> Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!--div class="sidebar-heading">
      Interface
    </div-->

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/domicilios">
        <i class="fas fa-fw fa-chart-area"></i>
        <span><fa-icon [icon]="faBuilding"></fa-icon> Domicilios</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/acuerdos">
        <i class="fas fa-fw fa-chart-area"></i>
        <span><fa-icon [icon]="faHandshake"></fa-icon> Acuerdos</span></a>
    </li>

    <!--li class="nav-item">
      <a class="nav-link" routerLink="/home/legal">
        <i class="fas fa-fw fa-chart-area"></i>
        <span><fa-icon [icon]="faFileContract"></fa-icon> Legal</span></a>
    </li-->

    <li class="nav-item" *ngIf="usuarioActual?.empresa?.tieneArmas">
      <a class="nav-link" routerLink="/home/licencias">
        <i class="fas fa-fw fa-chart-area"></i>
        <span><fa-icon [icon]="faBomb"></fa-icon> Licencias colectivas / Armas</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" *ngIf="usuarioActual?.empresa?.tieneCanes">
      <a class="nav-link" routerLink="/home/canes">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faDog"></fa-icon> Canes</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/vehiculos">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faCar"></fa-icon> Vehiculos</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/incidencias">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faTicketAlt"></fa-icon> Incidencias</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/clientes">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faBriefcase"></fa-icon> Clientes</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/personal">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faUsers"></fa-icon> Personal</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/equipo">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faLuggageCart"></fa-icon> Equipo / Fornituras</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/uniformes">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faVestPatches"></fa-icon> Uniformes</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/visitas">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faVestPatches"></fa-icon> Visitas</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/reportes-mensuales">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faVestPatches"></fa-icon> Informes mensuales</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/reporteo">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faVestPatches"></fa-icon> Reporteo</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
      <a class="nav-link" routerLink="/home/informacion">
        <i class="fas fa-fw fa-table"></i>
        <span><fa-icon [icon]="faInfoCircle"></fa-icon> Info. de Empresa</span></a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <!--div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div-->

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <div class="input-group-append">
              <button id="dropdownMenuButton" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buscar en: {{ (filtroBusqueda === undefined) ? "" : this.filtroBusqueda }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="cambiarFiltroBusqueda('CLIENTES')">Clientes</a>
                <a class="dropdown-item" (click)="cambiarFiltroBusqueda('PERSONAL')">Personal</a>
                <a class="dropdown-item" (click)="cambiarFiltroBusqueda('CANES')">Canes</a>
                <a class="dropdown-item" (click)="cambiarFiltroBusqueda('VEHICULOS')">Vehiculos</a>
                <a class="dropdown-item" (click)="cambiarFiltroBusqueda('ARMAS')">Armas</a>
                <a class="dropdown-item" (click)="cambiarFiltroBusqueda('ESCRITURAS')">Escrituras</a>
                <a class="dropdown-item" (click)="cambiarFiltroBusqueda('INCIDENCIAS')">Incidencias</a>
              </div>
            </div>
            <input type="text" class="form-control bg-light border-0 small" placeholder="Introduzca la palabra a buscar"
                   aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="terminoABuscar" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="realizarBusqueda()">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
            </div>
          </div>
        </form>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small"
                         placeholder="Search for..." aria-label="Search"
                         aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon class="text-primary" size="lg" [icon]="faEnvelope"></fa-icon>
              <span class="badge badge-danger badge-counter" *ngIf="notificacionesSinLeer > 0">{{notificacionesSinLeer}}</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Buzon interno
              </h6>
              <a *ngIf="notificaciones.length === 0" class="dropdown-item d-flex align-items-center" href="#">
                <div>
                  <span class="font-weight-bold">Actualmente no tienes nuevas notificaciones. Te avisaremos cuando algo nuevo ocurra.</span>
                </div>
              </a>
              <a *ngFor="let n of notificaciones.slice()?.reverse() | slice:0:5; let i = index;" class="dropdown-item d-flex align-items-center"
                 (click)="leerNotificacion(n?.uuid)">
                <!--div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div-->
                <div>
                  <div class="small text-gray-500">{{n?.fechaCreacion}}</div>
                  <span class="font-weight-bold"> <span *ngIf="n?.leido">(Visto)</span> {{n?.motivo}}</span>
                </div>
              </a>

              <a class="dropdown-item text-center small text-gray-500" (click)="mostrarModalTodasNotificaciones()">Ver todas</a>
            </div>
          </li>

          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon class="text-primary" size="lg" [icon]="faBell"></fa-icon>
              <span class="badge badge-danger badge-counter" *ngIf="notificacionesEmpresaSinLeer > 0">{{notificacionesEmpresaSinLeer}}</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Notificaciones
              </h6>
              <a *ngIf="notificacionesEmpresa?.length === 0" class="dropdown-item d-flex align-items-center" href="#">
                <div>
                  <span class="font-weight-bold">Actualmente no tienes nuevas notificaciones. Te avisaremos cuando algo nuevo ocurra.</span>
                </div>
              </a>
              <a *ngFor="let n of notificacionesEmpresa?.slice()?.reverse() | slice:0:5; let i = index;" class="dropdown-item d-flex align-items-center"
                 (click)="leerNotificacionEmpresa(n?.uuid)">
                <!--div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div-->
                <div>
                  <div class="small text-gray-500">{{n?.fechaCreacion}}</div>
                  <span class="font-weight-bold"> <span *ngIf="n?.leido">(Visto)</span> {{n?.motivo}}</span><br>
                  <span>{{n?.descripcion}}</span>
                </div>
              </a>

              <a class="dropdown-item text-center small text-gray-500" (click)="mostrarModalTodasNotificacionesEmpresa()">Ver todas</a>
            </div>
          </li>

          <!-- Nav Item - Messages -->
          <!--li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-envelope fa-fw"></i>
              <span class="badge badge-danger badge-counter">7</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">
                Message Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_1.svg"
                       alt="...">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                  <div class="text-truncate">Hi there! I am wondering if you can help me with a
                    problem I've been having.</div>
                  <div class="small text-gray-500">Emily Fowler · 58m</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_2.svg"
                       alt="...">
                  <div class="status-indicator"></div>
                </div>
                <div>
                  <div class="text-truncate">I have the photos that you ordered last month, how
                    would you like them sent to you?</div>
                  <div class="small text-gray-500">Jae Chun · 1d</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_3.svg"
                       alt="...">
                  <div class="status-indicator bg-warning"></div>
                </div>
                <div>
                  <div class="text-truncate">Last month's report looks great, I am very happy with
                    the progress so far, keep up the good work!</div>
                  <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                       alt="...">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div>
                  <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                    told me that people say this to all dogs, even if they aren't good...</div>
                  <div class="small text-gray-500">Chicken the Dog · 2w</div>
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
          </li-->

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{usuarioActual?.empresa?.registro + " - " + usuarioActual?.empresa?.razonSocial}}</span>
              <img class="img-profile rounded-circle"
                   [src]="(logo !== undefined) ? logo : 'assets/usuario-generico.png'">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <a class="dropdown-item" routerLink="/home/informacion">
                <fa-icon [icon]="faUser"></fa-icon> Perfil
              </a>
              <a class="dropdown-item" (click)="mostrarModalCambioContrasena()">
                <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon> Cambio de contrasena
              </a>
              <!--a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Registro de actividad
              </a-->
              <!--div class="dropdown-divider"></div-->
              <a class="dropdown-item" style="cursor:pointer;" (click)="logout()">
                <fa-icon [icon]="faDoorClosed"></fa-icon> Cerrar sesión
              </a>
            </div>
          </li>

        </ul>

      </nav>

      <router-outlet></router-outlet>
      <app-toasts></app-toasts>


      <!-- Footer -->
      <!--footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
          </div>
        </div>
      </footer-->
      <!-- End of Footer -->

    </div>

    <ng-template #leerNotificacionModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="leerNotificacionModal">{{notificacion?.motivo}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <small [innerHTML]="textoNotificacion">
        </small>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()">Cerrar</button>
      </div>
    </ng-template>
  </div>

  <ng-template #verNotificacionesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="verNotificacionesModal">Ver todos los mensajes</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <a *ngFor="let n of notificaciones.slice()?.reverse(); let i = index;" class="dropdown-item d-flex align-items-center"
             (click)="leerNotificacion(n?.uuid)">
            <!--div class="mr-3">
              <div class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
            </div-->
            <div>
              <div class="small text-gray-500">{{n?.fechaCreacion}}</div>
              <span class="font-weight-bold"> <span *ngIf="n?.leido">(Visto)</span> {{n?.motivo}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #verNotificacionEmpresaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="verNotificacionEmpresaModal">Ver todas las notificaciones</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p-table #notificacionesTable [value]="notificacionesEmpresa" [autoLayout]="true" [resizableColumns]="true" [globalFilterFields]="['motivo','descripcion']"
                   [paginator]="true" [rows]="5" currentPageReportTemplate="Mostrando los resultados del {first} to {last} de un total de {totalRecords}" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
              <div class="row">
                <div class="col-sm-6">
                  <h5 style="margin-top: 6px;">Notificaciones</h5>
                </div>
                <div class="col-sm-6">
                  <input class="form-control" type="text" (input)="notificacionesTable.filterGlobal($event.target.value, 'contains')" placeholder="Buscar notificacion" />
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="fechaCreacion"><b>Fecha <p-sortIcon field="fechaCreacion"></p-sortIcon></b></th>
                <th pSortableColumn="motivo"><b>Motivo <p-sortIcon field="motivo"></p-sortIcon></b></th>
                <th pSortableColumn="descripcion"><b>Descripcion <p-sortIcon field="descripcion"></p-sortIcon></b></th>
                <th pSortableColumn="leido"><b>Leido <p-sortIcon field="leido"></p-sortIcon></b></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="3">Sin notificaciones, puedes estar tranquilo (por ahora)</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-notificacion>
              <tr (click)="leerNotificacion(notificacion?.uuid)">
                <td>{{notificacion?.fechaCreacion}}</td>
                <td>{{notificacion?.motivo}}</td>
                <td>{{notificacion?.descripcion}}</td>
                <td>{{notificacion?.leido}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="row">
                <div class="col-sm-6">
                  <p style="margin-top: 6px; margin-bottom: 0px;">Hay en total {{notificacionesEmpresa.length}} notificaciones</p>
                </div>
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="cerrarModalNotificaciones()">Cerrar</button>
    </div>
  </ng-template>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</div>

<ng-template #cambioContrasenaModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="cambioContrasenaModal">Cambiar contrasena</h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrarModalCambioContrasena()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="reiniciarContrasenaForm">
          <div class="form-row">
            <div class="col-sm-4">
              <label for="actualPassword">
                <b>Contrasena actual * </b>
                <span
                  *ngIf="reiniciarContrasenaForm.controls['actualPassword'].invalid && (reiniciarContrasenaForm.controls['actualPassword'].dirty || reiniciarContrasenaForm.controls['actualPassword'].touched)">
                      </span>
              </label>
              <div class="input-group">
                <input class="form-control" id="actualPassword" [type]="mostrarContrasena ? 'text' : 'password'" formControlName="actualPassword" placeholder="De 8 a 15 caracteres.">
                <div class="input-group-append">
                  <span class="input-group-text" style="cursor: pointer;" (click)="conmutarMostrarContrasena()">{{mostrarContrasena ? 'Ocultar' : 'Mostrar'}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="password">
                <b>Contrasena * <a style="color:#0057a0; cursor: pointer;" class="fakelink" (click)="autogenerarContrasena()">(autogenerar)</a></b>
                <span
                  *ngIf="reiniciarContrasenaForm.controls['password'].invalid && (reiniciarContrasenaForm.controls['password'].dirty || reiniciarContrasenaForm.controls['password'].touched)">
                      </span>
              </label>
              <div class="input-group">
                <input class="form-control" id="password" [type]="mostrarContrasena ? 'text' : 'password'" formControlName="password" placeholder="De 8 a 15 caracteres.">
                <div class="input-group-append">
                  <span class="input-group-text" style="cursor: pointer;" (click)="conmutarMostrarContrasena()">{{mostrarContrasena ? 'Ocultar' : 'Mostrar'}}</span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="password">
                <b>Confirmar contrasena * </b>
                <span
                  *ngIf="reiniciarContrasenaForm.controls['verificarPassword'].invalid && (reiniciarContrasenaForm.controls['verificarPassword'].dirty || reiniciarContrasenaForm.controls['verificarPassword'].touched)">
                      </span>
              </label>
              <div class="input-group">
                <input class="form-control" id="verificarPassword" [type]="mostrarContrasena ? 'text' : 'password'" formControlName="verificarPassword" placeholder="De 8 a 15 caracteres.">
                <div class="input-group-append">
                  <span class="input-group-text" style="cursor: pointer;">{{mostrarContrasena ? 'Ocultar' : 'Mostrar'}}</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-12">
        <p>Al presionar guardar, aceptas que has guardado la nueva contrasena en un lugar seguro.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="guardarUsuario(reiniciarContrasenaForm)">Guardar cambios</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>
