.no-printable {
  display: none;
}

.table {
  width: 100%;
}

body {
  font-family: Arial;
}

#header,
#altasPersonal
#order-footer, #route-disclaimer, #contenidoFichaInformativa {
  display: block !important;
}

@media print {
  .page-break {
    float: left;
    display: block;
    page-break-after: always;
    width: 100%;
  }

  .print-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .page-number::after {
    content: counter(page);
  }
  .total-pages::after {
    content: counter(pages);
  }
}


