<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Personal - Puestos de trabajo</h1>
    <div class="btn-group">
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="mostrarModalCrear(crearPuestoTrabajoModal)">Crear nuevo</button>
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm shadow-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Descargar como Excel (csv)</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a routerLink="/home/catalogos/personal" class="list-group-item list-group-item-action active">
          Puestos de trabajo
        </a>
        <a routerLink="/home/catalogos/personal/nacionalidades" class="list-group-item list-group-item-action">Nacionalidades</a>
      </div>
    </div>
    <div class="col-sm-9">
      <ag-grid-angular
        style="height: 80vh; width: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents"
        (rowDoubleClicked)="checkForDetails($event.data, mostrarPuestoDetallesModal)"
        #agGrid
      ></ag-grid-angular>
    </div>
  </div>

  <ng-template #mostrarPuestoDetallesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-uso-vehiculo-detalles">Ver detalles del puesto de trabajo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActual === 'DETALLES' }" (click)="cambiarPestana('DETALLES')">Detalles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActual === 'SUBPUESTOS' }" (click)="cambiarPestana('SUBPUESTOS')">Subpuestos</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" *ngIf="pestanaActual === 'DETALLES'">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Nombre:</b></td>
              <td>{{puestoTrabajo.nombre}}</td>
            </tr>
            <tr>
              <td><b>Descripcion:</b></td>
              <td>{{puestoTrabajo.descripcion}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row" *ngIf="pestanaActual === 'SUBPUESTOS'">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Nombre</b></td>
              <td><b>Descripcion</b></td>
              <td><b>Portacion</b></td>
              <td><b>CUIP</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let s of puestoTrabajo?.subpuestos">
              <td>{{s.nombre}}</td>
              <td>{{s.descripcion}}</td>
              <td>{{s.portacion}}</td>
              <td>{{s.cuip}}</td>
              <td></td>
            </tr>
            <tr *ngIf="mostrarFormularioSubpuesto">
              <td colspan="5">
                <div class="row">
                  <div class="col-sm-12">
                    <form [formGroup]="crearSubpuestoDeTrabajoForm">
                      <div class="form-row">
                        <div class="col-sm-3">
                          <label for="subpuestoNombre">
                            <b>Nombre *</b>
                          </label>
                          <input id="subpuestoNombre" type="text" class="form-control" placeholder="Ejemplo: Vigilante" formControlName="nombre" #nombre>
                        </div>
                        <div class="col-sm-3">
                          <label for="subpuestoDescripcion">
                            <b>Descripcion *</b>
                          </label>
                          <input id="subpuestoDescripcion" type="text" class="form-control" placeholder="Descripcion del puesto" formControlName="descripcion" #descripcion>
                        </div>
                        <div class="col-sm-3">
                          <label for="portacion">
                            <b>Portacion *</b>
                          </label>
                          <select id="portacion" class="form-control" formControlName="portacion">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <label for="cuip">
                            <b>CUIP *</b>
                          </label>
                          <select id="cuip" class="form-control" formControlName="cuip">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-primary btn-sm" (click)="guardarSubpuestoTrabajo(crearSubpuestoDeTrabajoForm)">Guardar</button>
                    <button class="btn btn-danger btn-sm" (click)="mostrarFormularioSubpuestos()">Cancelar</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="!mostrarFormularioSubpuesto">
              <td colspan="5">
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-primary btn-sm" (click)="mostrarFormularioSubpuestos()">Crear nuevo puesto de trabajo</button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #crearPuestoTrabajoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-survey-response">Nuevo puesto de trabajo </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="crearPuestoDeTrabajoForm">
            <div class="form-row">
              <div class="col-sm-6">
                <label for="nombre">
                  <b>Nombre *</b>
                </label>
                <input id="nombre" type="text" class="form-control" placeholder="Ejemplo: Administrativo" formControlName="nombre" #nombre>
              </div>
              <div class="col-sm-6">
                <label for="descripcion">
                  <b>Descripcion</b>
                </label>
                <input id="descripcion" type="text" class="form-control" placeholder="Describa que realiza este trabajo" formControlName="descripcion" #descripcion>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="guardarPuestoTrabajo(crearPuestoDeTrabajoForm)">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>
</div>
