<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Acuerdos</h1>
    <div class="btn-group">
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm shadow-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="exportGridData('CSV')">Descargar direcciones como Excel (csv)</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" style="background: white">
      <ag-grid-angular
        style="height: 80vh; width: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents"
        (rowDoubleClicked)="mostrarModalDetalles($event.data)"
        #agGrid
      ></ag-grid-angular>
    </div>
  </div>

  <ng-template #verDetallesAcuerdoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="verDetallesAcuerdoModal">Ver detalles del acuerdo </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Fecha</b></td>
              <td>{{acuerdo?.fecha}}</td>
            </tr>
            <tr>
              <td><b>Tipo del acuerdo</b></td>
              <td [ngSwitch]="acuerdo?.tipo">
                <span *ngSwitchCase="'AUTORIZACION_ESTATAL'">Autorizacion Estatal</span>
                <span *ngSwitchCase="'AUTORIZACION_PROVISIONAL'">Autorizacion Provisional</span>
                <span *ngSwitchCase="'REGISTRO_FEDERAL'">Registro Federal</span>
                <span *ngSwitchCase="'REGISTRO_SERVICIOS_PROPIOS'">Registro de Servicios Propios</span>
                <span *ngSwitchCase="'REFRENDO'">Refrendo</span>
                <span *ngSwitchCase="'REVOCACION'">Revocacion</span>
                <span *ngSwitchCase="'PERDIDA_EFICACIA'">Perdida de Eficacia</span>
                <span *ngSwitchCase="'SUSPENSION'">Suspension</span>
                <span *ngSwitchCase="'CLAUSURA'">Clausura</span>
                <span *ngSwitchCase="'MULTA'">Multa</span>
                <span *ngSwitchCase="'AMONESTACION'">Amonestacion</span>
              </td>
            </tr>
            <tr *ngIf="acuerdo?.tipo === 'MULTA'">
              <td><b>Multa en UMAs</b></td>
              <td>{{acuerdo?.multaUmas}}</td>
            </tr>
            <tr *ngIf="acuerdo?.tipo === 'MULTA'">
              <td><b>Multa en pesos</b></td>
              <td>{{acuerdo?.multaPesos}}</td>
            </tr>
            <tr *ngIf="acuerdo?.tipo === 'AUTORIZACION_ESTATAL' || acuerdo?.tipo === 'AUTORIZACION_PROVISIONAL' || acuerdo?.tipo === 'REGISTRO_FEDERAL' || acuerdo?.tipo === 'REGISTRO_SERVICIOS_PROPIOS' || acuerdo?.tipo === 'REFRENDO'">
              <td><b>Fecha de inicio</b></td>
              <td>{{acuerdo?.fechaInicio}}</td>
            </tr>
            <tr *ngIf="acuerdo?.tipo === 'AUTORIZACION_ESTATAL' || acuerdo?.tipo === 'AUTORIZACION_PROVISIONAL' || acuerdo?.tipo === 'REGISTRO_FEDERAL' || acuerdo?.tipo === 'REGISTRO_SERVICIOS_PROPIOS' || acuerdo?.tipo === 'REFRENDO'">
              <td><b>Fecha de fin</b></td>
              <td>{{acuerdo?.fechaFin}}</td>
            </tr>
            <tr>
              <td><b>Observaciones</b></td>
              <td>{{acuerdo.observaciones}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="mostrarAcuerdo()">Visualizar acuerdo</button>
      <button type="button" class="btn btn-primary" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #visualizarAcuerdoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="visualizarEscrituraModal">Ver adjunto del acuerdo </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <pdf-viewer [src]="pdfActual"
                      [render-text]="true"
                      [original-size]="false"
                      style="width: 100%; height: 600px"></pdf-viewer>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="descargarAcuerdoPdf()">Descargar</button>
    </div>
  </ng-template>
</div>
