<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Incidencias</h1>
    <div class="btn-group">
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="mostrarModalCrear(crearIncidenciaModal)">Nueva incidencia</button>
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm shadow-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Descargar incidencias como Excel (csv)</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a routerLink="/home/empresas/{{uuid}}" class="list-group-item list-group-item-action">
          Detalles
        </a>
        <a routerLink="/home/empresas/{{uuid}}/acuerdos" class="list-group-item list-group-item-action">Acuerdos</a>
        <a routerLink="/home/empresas/{{uuid}}/domicilios" class="list-group-item list-group-item-action">Domicilios</a>
        <a routerLink="/home/empresas/{{uuid}}/legal" class="list-group-item list-group-item-action">Legal</a>
        <a routerLink="/home/empresas/{{uuid}}/licencias" class="list-group-item list-group-item-action" *ngIf="empresa?.tieneArmas">Licencias colectivas / Armas</a>
        <a routerLink="/home/empresas/{{uuid}}/canes" class="list-group-item list-group-item-action" *ngIf="empresa?.tieneCanes">Canes</a>
        <a routerLink="/home/empresas/{{uuid}}/vehiculos" class="list-group-item list-group-item-action">Vehiculos</a>
        <a routerLink="/home/empresas/{{uuid}}/incidencias" class="list-group-item list-group-item-action active">Incidencias</a>
        <a routerLink="/home/empresas/{{uuid}}/clientes" class="list-group-item list-group-item-action">Clientes</a>
        <a routerLink="/home/empresas/{{uuid}}/personal" class="list-group-item list-group-item-action">Personal</a>
        <a routerLink="/home/empresas/{{uuid}}/equipo" class="list-group-item list-group-item-action">Equipo / Fornituras</a>
        <a routerLink="/home/empresas/{{uuid}}/uniformes" class="list-group-item list-group-item-action">Uniformes</a>
      </div>
    </div>
    <div class="col-sm-9" style="background: white">
      <ag-grid-angular
        style="height: 80vh; width: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents"
        (rowDoubleClicked)="mostrarModalDetalles($event.data, mostrarIncidenciaDetallesModal)"
        #agGrid
      ></ag-grid-angular>
    </div>
  </div>

  <ng-template #mostrarIncidenciaDetallesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="mostrarIncidenciaDetallesModal">Mostrando incidencia {{incidencia?.numero}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Fecha de la incidencia:</b></td>
              <td>{{incidencia?.fechaIncidencia}}</td>
            </tr>
            <tr>
              <td><b>Asignado a:</b></td>
              <td>{{incidencia?.asignado === null ? 'Sin asignar' : (incidencia?.asignado?.nombres + ' ' + incidencia?.asignado?.apellidos)}} <button class="btn btn-sm btn-primary" (click)="mostrarModalAsignar()">Asignar a</button>
                <button class="btn btn-sm btn-primary" (click)="autoasignar()">Asignarmelo a mi</button></td>
            </tr>
            <tr>
              <td><b>Status:</b></td>
              <td [ngSwitch]="incidencia?.status">
                <span *ngSwitchCase="'ABIERTA'">Abierta</span>
                <span *ngSwitchCase="'ASIGNADA'">Asignada</span>
                <span *ngSwitchCase="'ACCION_PENDIENTE'">Accion pendiente</span>
                <span *ngSwitchCase="'PROCEDENTE'">Procedente</span>
                <span *ngSwitchCase="'IMPROCEDENTE'">Improcedente</span>
              </td>
            </tr>
            <tr>
              <td>Ubicacion</td>
              <td><button class="btn btn-sm btn-primary" (click)="revelarUbicacion()">Ver ubicacion</button></td>
            </tr>
          </table>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': incidenciaActualTab === 'COMENTARIOS' }" (click)="cambiarIncidenciaActualTab('COMENTARIOS')">Comentarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': incidenciaActualTab === 'PERSONAL' }" (click)="cambiarIncidenciaActualTab('PERSONAL')">Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': incidenciaActualTab === 'ARMAS' }" (click)="cambiarIncidenciaActualTab('ARMAS')">Armas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': incidenciaActualTab === 'CANES' }" (click)="cambiarIncidenciaActualTab('CANES')">Canes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': incidenciaActualTab === 'VEHICULOS' }" (click)="cambiarIncidenciaActualTab('VEHICULOS')">Vehiculos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': incidenciaActualTab === 'ARCHIVOS' }" (click)="cambiarIncidenciaActualTab('ARCHIVOS')">Archivos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" *ngIf="incidenciaActualTab === 'COMENTARIOS'">
        <div class="col-sm-12" style="margin-top: 20px;">
          <div class="card" *ngFor="let c of incidencia?.comentarios">
            <div class="card-header">
              Comentario de: {{c.usuario?.nombres + " " + c.usuario?.apellidos}} a las {{c.fecha}}
              (<a style="cursor: pointer;" (click)="mostrarModalEditarComentario(c?.uuid)">Modificar</a> |
              <a style="cursor: pointer;" (click)="mostrarModalEliminarComentario(c?.uuid)">Eliminar</a>)
            </div>
            <div class="card-body" [innerHTML]="c?.comentario">
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="incidenciaActualTab === 'PERSONAL'">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Apellido Paterno</b></td>
              <td><b>Apellido Materno</b></td>
              <td><b>Nombres</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let p of incidencia?.personasInvolucradas">
              <td>{{p?.apellidoPaterno}}</td>
              <td>{{p?.apellidoMaterno}}</td>
              <td>{{p?.nombres}}</td>
              <td>
                <fa-icon [icon]="faTrash" (click)="mostrarModalEliminarPersona(p?.uuid)"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="!mostrarAgregarPersonalForm">
              <td colspan="4">
                <button class="btn btn-sm btn-primary" (click)="conmutarAgregarPersonalForm()">Agregar personal</button>
              </td>
            </tr>
            <tr *ngIf="mostrarAgregarPersonalForm">
              <td colspan="4">
                <form [formGroup]="crearPersonalIncidenciaForm">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="personal">
                        <b>Personal *</b>
                      </label>
                      <select formControlName="personaInvolucrada" id="personal" class="form-control">
                        <option *ngFor="let p of personales" value="{{p.uuid}}">{{p.nombres + " " + p.apellidoPaterno + " " + p.apellidoMaterno}}</option>
                      </select>
                    </div>
                  </div>
                </form>
                <hr>
                <button class="btn btn-sm btn-primary" (click)="agregarPersonaIncidencia(crearPersonalIncidenciaForm)">Guardar</button>
                <button class="btn btn-sm btn-danger" (click)="conmutarAgregarPersonalForm()">Cancelar</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="incidenciaActualTab === 'ARMAS'">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Matricula</b></td>
              <td><b>Marca</b></td>
              <td><b>Clase</b></td>
              <td><b>Tipo</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let a of incidencia?.armasInvolucradas">
              <td>{{a?.matricula}}</td>
              <td>{{a?.marca?.nombre}}</td>
              <td>{{a?.clase?.nombre}}</td>
              <td>{{a?.tipo}}</td>
              <td>
                <fa-icon [icon]="faTrash" (click)="mostrarModalEliminarArma(a?.uuid)" title="Eliminar arma involucrada"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="!mostrarAgregarArmaForm">
              <td colspan="5">
                <button class="btn btn-sm btn-primary" (click)="conmutarAgregarArmaForm()">Agregar arma</button>
              </td>
            </tr>
            <tr *ngIf="mostrarAgregarArmaForm">
              <td colspan="4">
                <form [formGroup]="crearArmaIncidenciaForm">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="arma">
                        <b>Arma *</b>
                      </label>
                      <select formControlName="armaInvolucrada" id="arma" class="form-control">
                        <option *ngFor="let a of armas" value="{{a?.uuid}}">{{a?.matricula}} - {{a?.marca?.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </form>
                <hr>
                <button class="btn btn-sm btn-primary" (click)="agregarArmaIncidencia(crearArmaIncidenciaForm)">Guardar</button>
                <button class="btn btn-sm btn-danger" (click)="conmutarAgregarArmaForm()">Cancelar</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="incidenciaActualTab === 'CANES'">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Nombre</b></td>
              <td><b>Raza</b></td>
              <td><b>Edad</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let c of incidencia?.canesInvolucrados">
              <td>{{c?.nombre}}</td>
              <td>{{c?.raza?.nombre}}</td>
              <td>{{c?.edad}}</td>
              <td>
                <fa-icon [icon]="faTrash" (click)="mostrarModalEliminarCan(c?.uuid)" title="Eliminar can involucrado"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="!mostrarAgregarCanForm">
              <td colspan="4">
                <button class="btn btn-sm btn-primary" (click)="conmutarAgregarCanForm()">Agregar can</button>
              </td>
            </tr>
            <tr *ngIf="mostrarAgregarCanForm">
              <td colspan="4">
                <form [formGroup]="crearCanIncidenciaForm">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="can">
                        <b>Can *</b>
                      </label>
                      <select formControlName="canInvolucrado" id="can" class="form-control">
                        <option *ngFor="let c of canes" value="{{c?.uuid}}">{{c?.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </form>
                <hr>
                <button class="btn btn-sm btn-primary" (click)="agregarCanIncidencia(crearCanIncidenciaForm)">Guardar</button>
                <button class="btn btn-sm btn-danger" (click)="conmutarAgregarCanForm()">Cancelar</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="incidenciaActualTab === 'VEHICULOS'">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Serie</b></td>
              <td><b>Marca</b></td>
              <td><b>Modelo</b></td>
              <td><b>Año</b></td>
              <td><b>Placas</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let v of incidencia?.vehiculosInvolucrados">
              <td>{{v?.serie}}</td>
              <td>{{v?.marca?.nombre}}</td>
              <td>{{v?.submarca?.nombre}}</td>
              <td>{{v?.anio}}</td>
              <td>{{v?.placas}}</td>
              <td>
                <fa-icon [icon]="faTrash" (click)="mostrarModalEliminarVehiculo(v?.uuid)" title="Eliminar vehiculo involucrado"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="!mostrarAgregarVehiculoForm">
              <td colspan="6">
                <button class="btn btn-sm btn-primary" (click)="conmutarAgregarVehiculoForm()">Agregar vehiculo</button>
              </td>
            </tr>
            <tr *ngIf="mostrarAgregarVehiculoForm">
              <td colspan="5">
                <form [formGroup]="crearVehiculoIncidenciaForm">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="vehiculo">
                        <b>Vehiculo *</b>
                      </label>
                      <select formControlName="vehiculoInvolucrado" id="vehiculo" class="form-control">
                        <option *ngFor="let v of vehiculos" value="{{v?.uuid}}">{{v?.placas}} - {{v.marca.nombre + " " + (v.submarca === null ? '' : v.submarca?.nombre) + " " + v.anio}}</option>
                      </select>
                    </div>
                  </div>
                </form>
                <hr>
                <button class="btn btn-sm btn-primary" (click)="agregarVehiculoIncidencia(crearVehiculoIncidenciaForm)">Guardar</button>
                <button class="btn btn-sm btn-danger" (click)="conmutarAgregarVehiculoForm()">Cancelar</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="form-row" *ngIf="incidenciaActualTab === 'ARCHIVOS'">
        <div class="col-sm-12">
          <table class="table">
            <tr>
              <td><b>Archivo</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngIf="mostrarAgregarArchivoForm">
              <td colspan="2">
                <form [formGroup]="crearArchivoIncidenciaForm">
                  <label for="archivoIncidencia">
                    <b>Archivo *</b>
                  </label>
                  <input id="archivoIncidencia" class="form-control" formControlName="archivo" type="file" accept="application/pdf" (change)="onFileChange($event)">
                </form>
                <hr>
                <button class="btn btn-sm btn-primary" (click)="agregarArchivo(crearArchivoIncidenciaForm)">Guardar</button>
                <button class="btn btn-sm btn-danger" (click)="conmutarAgregarArchivoForm()">Cancelar</button>
              </td>
            </tr>
            <tr *ngFor="let a of incidencia?.archivos">
              <td>{{a?.nombreArchivo}}</td>
              <td>
                <fa-icon [icon]="faDownload" (click)="descargarArchivo(a?.uuid)" title="Descargar archivo"></fa-icon>
                <fa-icon [icon]="faTrash" (click)="mostrarModalEliminarArchivo(a?.uuid)" title="Eliminar archivo"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="!mostrarAgregarArchivoForm">
              <td colspan="2">
                <button class="btn btn-sm btn-primary" (click)="conmutarAgregarArchivoForm()">Agregar archivo</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="mostrarModalResponder()">Responder</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #crearIncidenciaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-survey-response">Nueva incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="crearIncidenciaForm">
            <div class="form-row">
              <div class="col-sm-4">
                <label for="fechaIncidencia">
                  <b>Fecha de incidencia *</b>
                </label>
                <input id="fechaIncidencia" type="date" class="form-control" formControlName="fechaIncidencia" #fechaIncidencia>
              </div>
              <div class="col-sm-4">
                <label for="clienteInvolucrado">
                  <b>Involucra cliente *</b>
                </label>
                <select id="clienteInvolucrado" class="form-control" formControlName="clienteInvolucrado" (change)="cambiarInvolucramientoCliente($event.target)">
                  <option value="true">Si</option>
                  <option value="false">No</option>
                </select>
              </div>
              <div class="col-sm-4" *ngIf="clienteInvolucrado">
                <label for="cliente">
                  <b>Cliente *</b>
                </label>
                <select id="cliente" class="form-control" formControlName="cliente" (change)="seleccionarCliente($event.target)">
                  <option *ngFor="let c of clientes" value="{{c.uuid}}">{{c.razonSocial}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-4">
                <label>
                  <b>Ubicacion</b>
                </label>
                <br>
                <button class="btn btn-primary btn-sm" (click)="mostrarModalSeleccionarUbicacion()">Seleccionar ubicacion</button>
              </div>
            </div>
          </form>
          <div class="form-row">
            <div class="col-sm-12">
              <label>
                <b>Relato de hechos</b>
              </label>
              <ckeditor editorUrl="http://www.pelisat.com.mx/cdn/ckeditor/ckeditor.js" [(ngModel)]="editorData"></ckeditor>
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="col-sm-12">
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActualInvolucramiento === 'PERSONAL' }" (click)="cambiarPestanaInvolucramientos('PERSONAL')">Personal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActualInvolucramiento === 'ARMAS' }" (click)="cambiarPestanaInvolucramientos('ARMAS')">Armas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActualInvolucramiento === 'CANES' }" (click)="cambiarPestanaInvolucramientos('CANES')">Canes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActualInvolucramiento === 'VEHICULOS' }" (click)="cambiarPestanaInvolucramientos('VEHICULOS')">Vehiculos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActualInvolucramiento === 'ARCHIVOS' }" (click)="cambiarPestanaInvolucramientos('ARCHIVOS')">Archivos</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-row" *ngIf="pestanaActualInvolucramiento === 'PERSONAL'">
            <div class="col-sm-12">
              <table class="table">
                <tr>
                  <td><b>Apellido paterno</b></td>
                  <td><b>Apellido materno</b></td>
                  <td><b>Nombres</b></td>
                  <td><b>Acciones</b></td>
                </tr>
                <tr *ngFor="let p of personalInvolucrado; let i = index">
                  <td>{{p?.apellidoPaterno}}</td>
                  <td>{{p?.apellidoMaterno}}</td>
                  <td>{{p?.nombres}}</td>
                  <td>
                    <fa-icon [icon]="faTrash" title="Eliminar persona de la incidencia" (click)="mostrarModalQuitarPersonaIncidencia(i)"></fa-icon>
                  </td>
                </tr>
                <tr *ngIf="mostrarAgregarPersonalForm">
                  <td colspan="4">
                    <form [formGroup]="crearPersonalIncidenciaForm">
                      <div class="row">
                        <div class="col-sm-6">
                          <label for="personal">
                            <b>Personal *</b>
                          </label>
                          <select formControlName="personaInvolucrada" id="personal" class="form-control">
                            <option *ngFor="let p of personales" value="{{p.uuid}}">{{p.nombres + " " + p.apellidoPaterno + " " + p.apellidoMaterno}}</option>
                          </select>
                        </div>
                      </div>
                    </form>

                  </td>
                </tr>
                <tr *ngIf="mostrarAgregarPersonalForm">
                  <td colspan="4">
                    <button class="btn btn-sm btn-primary" (click)="agregarPersona(crearPersonalIncidenciaForm)">Guardar</button>
                    <button class="btn btn-sm btn-danger" (click)="conmutarAgregarPersonalForm()">Cancelar</button>
                  </td>
                </tr>
                <tr *ngIf="!mostrarAgregarPersonalForm">
                  <td colspan="4">
                    <button class="btn btn-sm btn-primary" (click)="conmutarAgregarPersonalForm()">Agregar personal</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="form-row" *ngIf="pestanaActualInvolucramiento === 'ARMAS'">
            <div class="col-sm-12">
              <table class="table">
                <tr>
                  <td><b>Matricula</b></td>
                  <td><b>Marca</b></td>
                  <td><b>Clase</b></td>
                  <td><b>Tipo</b></td>
                  <td><b>Acciones</b></td>
                </tr>
                <tr *ngFor="let a of armasInvolucradas; let i = index">
                  <td>{{a?.matricula}}</td>
                  <td>{{a?.marca?.nombre}}</td>
                  <td>{{a?.clase?.nombre}}</td>
                  <td>{{a?.tipo}}</td>
                  <td>
                    <fa-icon [icon]="faTrash" title="Eliminar arma de la incidencia" (click)="mostrarModalQuitarArmaIncidencia(i)"></fa-icon>
                  </td>
                </tr>
                <tr *ngIf="mostrarAgregarArmaForm">
                  <td colspan="5">
                    <form [formGroup]="crearArmaIncidenciaForm">
                      <div class="row">
                        <div class="col-sm-6">
                          <label for="can">
                            <b>Arma *</b>
                          </label>
                          <select id="arma" class="form-control" formControlName="armaInvolucrada">
                            <option *ngFor="let a of armas" value="{{a.uuid}}">{{a?.matricula}} - {{a.marca?.nombre}}</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>
                <tr *ngIf="mostrarAgregarArmaForm">
                  <td colspan="4">
                    <button class="btn btn-sm btn-primary" (click)="agregarArma(crearArmaIncidenciaForm)">Guardar</button>
                    <button class="btn btn-sm btn-danger" (click)="conmutarAgregarArmaForm()">Cancelar</button>
                  </td>
                </tr>
                <tr *ngIf="!mostrarAgregarArmaForm">
                  <td colspan="4">
                    <button class="btn btn-sm btn-primary" (click)="conmutarAgregarArmaForm()">Agregar arma</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="form-row" *ngIf="pestanaActualInvolucramiento === 'CANES'">
            <div class="col-sm-12">
              <table class="table">
                <tr>
                  <td><b>Nombre</b></td>
                  <td><b>Raza</b></td>
                  <td><b>Edad</b></td>
                  <td><b>Acciones</b></td>
                </tr>
                <tr *ngFor="let c of canesInvolucrados; let i = index">
                  <td>{{c?.nombre}}</td>
                  <td>{{c?.raza?.nombre}}</td>
                  <td>{{c?.edad}}</td>
                  <td>
                    <fa-icon [icon]="faTrash" title="Eliminar can de la incidencia" (click)="mostrarModalQuitarCanIncidencia(i)"></fa-icon>
                  </td>
                </tr>
                <tr *ngIf="mostrarAgregarCanForm">
                  <td colspan="4">
                    <form [formGroup]="crearCanIncidenciaForm">
                      <div class="row">
                        <div class="col-sm-6">
                          <label for="can">
                            <b>Can *</b>
                          </label>
                          <select id="can" class="form-control" formControlName="canInvolucrado">
                            <option *ngFor="let c of canes" value="{{c.uuid}}">{{c.nombre}}</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>
                <tr *ngIf="mostrarAgregarCanForm">
                  <td colspan="4">
                    <button class="btn btn-sm btn-primary" (click)="agregarCan(crearCanIncidenciaForm)">Guardar</button>
                    <button class="btn btn-sm btn-danger" (click)="conmutarAgregarCanForm()">Cancelar</button>
                  </td>
                </tr>
                <tr *ngIf="!mostrarAgregarCanForm">
                  <td colspan="4">
                    <button class="btn btn-sm btn-primary" (click)="conmutarAgregarCanForm()">Agregar can</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="form-row" *ngIf="pestanaActualInvolucramiento === 'VEHICULOS'">
            <div class="col-sm-12">
              <table class="table">
                <tr>
                  <td><b>Placas</b></td>
                  <td><b>Marca</b></td>
                  <td><b>Submarca</b></td>
                  <td><b>Año</b></td>
                  <td><b>Acciones</b></td>
                </tr>
                <tr *ngFor="let v of vehiculosInvolucrados; let i = index">
                  <td>{{v?.placas}}</td>
                  <td>{{v?.marca?.nombre}}</td>
                  <td>{{v?.submarca?.nombre}}</td>
                  <td>{{v?.anio}}</td>
                  <td>
                    <fa-icon [icon]="faTrash" title="Eliminar vehiculo de la incidencia" (click)="mostrarModalQuitarVehiculoIncidencia(i)"></fa-icon>
                  </td>
                </tr>
                <tr *ngIf="mostrarAgregarVehiculoForm">
                  <td colspan="5">
                    <form [formGroup]="crearVehiculoIncidenciaForm">
                      <div class="row">
                        <div class="col-sm-6">
                          <label for="vehiculo">
                            <b>Vehiculo *</b>
                          </label>
                          <select id="vehiculo" class="form-control" formControlName="vehiculoInvolucrado">
                            <option *ngFor="let v of vehiculos" value="{{v.uuid}}">{{v?.placas}} - {{v.marca.nombre + " " + (v.submarca === null ? '' : v.submarca?.nombre) + " " + v.anio}}</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>
                <tr *ngIf="mostrarAgregarVehiculoForm">
                  <td colspan="5">
                    <button class="btn btn-sm btn-primary" (click)="agregarVehiculo(crearVehiculoIncidenciaForm)">Guardar</button>
                    <button class="btn btn-sm btn-danger" (click)="conmutarAgregarVehiculoForm()">Cancelar</button>
                  </td>
                </tr>
                <tr *ngIf="!mostrarAgregarVehiculoForm">
                  <td colspan="5">
                    <button class="btn btn-sm btn-primary" (click)="conmutarAgregarVehiculoForm()">Agregar vehiculo</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="form-row" *ngIf="pestanaActualInvolucramiento === 'ARCHIVOS'">
            <div class="col-sm-12">
              <label for="archivo">
                <b>Archivo (en pdf) *</b>
              </label>
              <input id="archivo" class="form-control" formControlName="archivo" type="file" accept="application/pdf" (change)="onFileChange($event)">
            </div>
            <div class="col-sm-12">
              <i>Podras subir mas archivos cuando crees la incidencia</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="guardarIncidencia(crearIncidenciaForm)">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #seleccionarAsignadoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="seleccionarAsignadoModal">Asignar a usuario </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="cambiarAsignacionTicketForm">
            <div class="row">
              <div class="col-sm-6">
                <label for="asignado">
                  <b>Asignado *</b>
                </label>
                <select id="asignado" class="form-control" formControlName="asignado">
                  <option *ngFor="let u of usuarios" value="{{u.uuid}}">{{u.nombres + " " + u.apellidos}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="confirmarAsignacion(cambiarAsignacionTicketForm)">Asignar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #responderIncidenciaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="responderIncidenciaModal">Responder incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="responderIncidenciaForm">
            <div class="row">
              <div class="col-sm-6">
                <label for="status">
                  <b>Status *</b>
                </label>
                <select id="status" class="form-control" formControlName="status">
                  <option value="ABIERTA">Abierta</option>
                  <option value="ASIGNADA">Asignada</option>
                  <option value="ACCION_PENDIENTE">Accion pendiente</option>
                  <option value="PROCEDENTE">Procedente</option>
                  <option value="IMPROCEDENTE">Improcedente</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <b>Comentario *</b>
          <ckeditor editorUrl="http://www.pelisat.com.mx/cdn/ckeditor/ckeditor.js" [(ngModel)]="editorData"></ckeditor>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="agregarComentario(responderIncidenciaForm)">Responder incidencia</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <!-- QUITAR DE INCIDENCIA CREADA -->
  <ng-template #quitarIncidenciaPersonaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="quitarIncidenciaPersonaModal">Quitando la persona de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de quitar una persona de la incidencia. Esta operacion no puede ser deshecha. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="quitarPersonaIncidencia()">Si, quitar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #quitarIncidenciaArmaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="quitarIncidenciaArmaModal">Quitando el arma de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de quitar un arma de la incidencia. Esta operacion no se podra deshacer. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="quitarArmaIncidencia()">Si, quitar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #quitarIncidenciaCanModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="quitarIncidenciaCanModal">Quitando el can de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de quitar un can de la incidencia. Esta operacion no se podra deshacer. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="quitarCanIncidencia()">Si, quitar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #quitarIncidenciaVehiculoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="quitarIncidenciaVehiculoModal">Quitando el vehiculo de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de quitar un vehiculo de la incidencia. Esta operacion no se podra deshacer. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="quitarVehiculoIncidencia()">Si, quitar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <!-- ELIMINAR DE INCIDENCIAS CREADAS -->
  <ng-template #eliminarIncidenciaPersonaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarIncidenciaPersonaModal">Eliminando la persona de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar una persona de la incidencia. Esta operacion no se podra deshacer. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarPersona()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #eliminarIncidenciaArmaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarIncidenciaArmaModal">Eliminando el arma de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar un arma de la incidencia. Esta operacion no se podra deshacer. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarArma()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #eliminarIncidenciaCanModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarIncidenciaCanModal">Eliminando el can de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar un can de la incidencia. Esta operacion no se podra deshacer. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarCan()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #eliminarIncidenciaVehiculoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarIncidenciaVehiculoModal">Eliminando el vehiculo de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar un vehiculo de la incidencia. Esta operacion no se podra deshacer. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarVehiculo()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #eliminarIncidenciaArchivoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarIncidenciaArchivoModal">Eliminando el archivo de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar un archivo de la incidencia. Esta operacion no se podra deshacer. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarArchivo()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #eliminarIncidenciaComentarioModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarIncidenciaComentarioModal">Eliminando el comentario de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar el comentario de la incidencia. Esta operacion no se podra deshacer y la empresa involucrada sera notificada de esta accion. Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarIncidencia()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #editarComentarioIncidenciaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="editarComentarioIncidenciaModal">Modificando el comentario de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <ckeditor editorUrl="http://www.pelisat.com.mx/cdn/ckeditor/ckeditor.js" [(ngModel)]="editorData"></ckeditor>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="guardarCambiosComentario()">Guardar cambios</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancelar</button>
    </div>
  </ng-template>

  <ng-template #mostrarUbicacionModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="mostrarUbicacionModal">Mostrando ubicacion de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <agm-map [latitude]="convertStringToNumber(this.incidencia?.latitud)" [longitude]="convertStringToNumber(this.incidencia?.longitud)" [zoom]="16">
            <agm-marker [latitude]="convertStringToNumber(this.incidencia?.latitud)" [longitude]="convertStringToNumber(this.incidencia?.longitud)"></agm-marker>
          </agm-map>
          <div>Latitud: {{this.incidencia?.latitud}}</div>
          <div>Longitud: {{this.incidencia?.longitud}}</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #seleccionarUbicacionModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="seleccionarUbicacionModal">Seleccionar la ubicacion de la incidencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="quitarUbicacion()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <!--div class="form-group">
            <label>Selecciona la ubicacion moviendo el pin o introduce la ubicacion</label>
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #busquedaDireccion>
          </div-->
          <div class="form-group">
            <p>Selecciona la ubicacion arrastrando y soltando el marcador rojo</p>
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
          </agm-map>
          <div>Latitud: {{latitude}}</div>
          <div>Longitud: {{longitude}}</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Seleccionar</button>
      <button class="btn btn-danger" (click)="quitarUbicacion()">Cancelar</button>
    </div>
  </ng-template>
</div>
