<div class="container px-4 py-5 mx-auto">
  <div class="card card0">
    <div class="d-flex flex-lg-row flex-column-reverse">
      <div class="card card1">
        <div class="row justify-content-center my-auto">
          <div class="col-md-8 col-10 my-5">
            <div class="row justify-content-center px-3 mb-3"><img id="logo" src="assets/logo.png">
            </div>
            <h4 class="mb-5 text-center heading">Empresas</h4>
            <h6 class="msg-info">Ingresa tus datos a continuacion para iniciar sesion</h6>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label class="form-control-label text-muted">Correo electronico o registro</label>
                <input type="email" id="inputEmail" name="email" placeholder="Correo electronico" class="form-control" autofocus formControlName="email" #email>
              </div>
              <div class="form-group">
                <label class="form-control-label text-muted">Contraseña</label>
                <input type="password" id="psw" name="password" class="form-control" placeholder="Contraseña" formControlName="password" #password>
              </div>
              <div class="row justify-content-center my-3 px-3">
                <button (click)="login()" class="btn-block btn-color" type="submit">Iniciar sesion</button>
              </div>
              <div class="row justify-content-center my-2"><a href="#"><small class="text-muted">Necesito ayuda</small></a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card card2">
        <div class="my-auto mx-md-5 px-md-5 right">
          <h3 class="text-white">{{comunicadoGeneral?.titulo}}</h3>
          <small class="text-white" [innerHTML]="comunicadoGeneral?.descripcion">
          </small>
          <hr>
          <a style="cursor: pointer;" class="text-white" (click)="verHistorialComunicados(mostrarHistorialComunicadosModal)">Ver historico de comunicados</a><br>
          <a style="cursor: pointer;" class="text-white" (click)="verHistorialComunicados(mostrarHistorialComunicadosModal)">Directorio telefonico</a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #mostrarHistorialComunicadosModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="mostrarHistorialComunicadosModal">Ver historial de comunicados </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6">
          <label for="titulo">
            <b>Titulo</b>
          </label>
          <input id="titulo" class="form-control" placeholder="Ejemplo: Vacaciones" type="text">
        </div>
        <div class="col-sm-2">
          <label for="mes">
            <b>Selecciona mes</b>
          </label>
          <select id="mes" class="form-control">
            <option value="12">Diciembre</option>
            <option value="11">Noviembre</option>
            <option value="10">Octubre</option>
            <option value="09">Septiembre</option>
            <option value="08">Agosto</option>
            <option value="07">Julio</option>
            <option value="06">Junio</option>
            <option value="05">Mayo</option>
            <option value="04">Abril</option>
            <option value="03">Marzo</option>
            <option value="02">Febrero</option>
            <option value="01">Enero</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label for="ano">
            <b>Selecciona ano</b>
          </label>
          <select id="ano" class="form-control">
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
          </select>
        </div>
        <div class="col-sm-2">
          <br>
          <button class="btn btn-primary">Buscar</button>
        </div>
      </div>
      <hr>
      <div class="row" >
        <div class="col-sm-4">
          <div class="list-group">
            <a *ngFor="let c of comunicadosGenerales" class="list-group-item list-group-item-action fakelink" [ngClass]="{ 'active': comunicadoUuid === c?.uuid }" (click)="obtenerComunicado(c?.uuid)">
              <b>{{c?.titulo?.length > 25 ? c?.titulo?.slice(0, 25) + "..." : c?.titulo}}</b><br>
              Publicado el {{c?.fechaPublicacion}}
            </a>
          </div>
        </div>

        <div class="col-sm-8" style="border: #AAA 1px solid;">
          <div class="row">
            <div class="col-sm-12">
              <h4>{{comunicado?.titulo}}</h4>
            </div>
            <div class="col-sm-12" [innerHTML]="comunicado?.descripcion">

            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center"><i>Solo se muestran los ultimos 5 comunicados. Utilice el formulario de arriba para
          buscar comunicados anteriores</i></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>
</div>
