<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Licencias colectivas</h1>
    <div class="btn-group">
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="mostrarModalCrear(crearLicencia)">Nueva licencia colectiva</button>
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm btn-secondary dropdown-toggle" type="button" id="mostrarColumnasDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mostrar / Ocultar columnas
        </button>
        <div class="dropdown-menu" aria-labelledby="mostrarColumnasDropdown">
          <a class="dropdown-item" *ngFor="let columnDef of allColumnDefs" (click)="toggleColumn(columnDef.field)"><fa-icon [icon]="faCheck" *ngIf="isColumnListed(columnDef.field)"></fa-icon> {{columnDef?.headerName}}</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="d-none d-sm-inline-block btn btn-sm shadow-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="exportGridData('CSV')">Descargar licencias como Excel (csv)</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-sm-12" style="background: white">
      <ag-grid-angular
        style="height: 80vh; width: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents"
        (rowDoubleClicked)="mostrarModalDetalles($event.data, mostrarLicenciaDetallesModal)"
        #agGrid
      ></ag-grid-angular>
    </div>
  </div>

  <ng-template #mostrarLicenciaDetallesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="mostrarLicenciaDetallesModal">Ver detalles de la licencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActual === 'DETALLES' }" (click)="cambiarPestana('DETALLES')">Detalles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActual === 'DIRECCIONES' }" (click)="cambiarPestana('DIRECCIONES')">Direcciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fakelink" [ngClass]="{ 'active': pestanaActual === 'ARMAS' }" (click)="cambiarPestana('ARMAS')">Armas</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" *ngIf="pestanaActual === 'DETALLES'">
          <table class="table">
            <tr>
              <td><b>Número de oficio:</b></td>
              <td>{{licencia?.numeroOficio}}</td>
            </tr>
            <tr>
              <td><b>Fecha de inicio:</b></td>
              <td>{{licencia?.fechaInicio}}</td>
            </tr>
            <tr>
              <td><b>Fecha de fin:</b></td>
              <td>{{licencia?.fechaFin}}</td>
            </tr>
            <tr>
              <td><b>Modalidad:</b></td>
              <td>{{licencia?.modalidad?.nombre + " " + licencia?.modalidad.descripcion}}</td>
            </tr>
            <tr>
              <td><b>Submodalidad:</b></td>
              <td>{{licencia?.submodalidad?.nombre}}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-12" *ngIf="pestanaActual === 'DIRECCIONES'">
          <table class="table">
            <tr>
              <td><b>ID</b></td>
              <td><b>Nombre</b></td>
              <td><b>Dirección</b></td>
              <td><b>Estado</b></td>
              <td><b>C.P.</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let d of domiciliosLicenciaColectiva">
              <td>{{d?.uuid}}</td>
              <td>{{d?.nombre}}</td>
              <td>{{d?.domicilio1 + " " + d.numeroExterior + " " + d.numeroInterior}}</td>
              <td>{{d?.estado}}</td>
              <td>{{d?.codigoPostal}}</td>
              <td>
                <fa-icon [icon]="faTrash" title="Eliminar domicilio de la licencia colectiva" (click)="mostrarModalEliminarDomicilio(d?.uuid)"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="showDireccionForm">
              <td colspan="6">
                <div class="row">
                  <div class="col-sm-12">
                    <form [formGroup]="crearDireccionForm">
                      <div class="form-row">
                        <div class="col-sm-6">
                          <label for="direccion">
                            <b>Dirección *</b>
                          </label>
                          <select id="direccion" class="form-control" formControlName="direccion">
                            <option *ngFor="let d of domicilios" value="{{d.uuid}}">{{d.nombre + " - " + d.domicilio1 + " " + d.numeroExterior + " " + d.numeroInterior}}</option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-primary btn-sm" (click)="guardarDireccion(crearDireccionForm)">Guardar</button>
                    <button class="btn btn-danger btn-sm" (click)="mostrarFormularioNuevaDireccion()">Cancelar</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="!showDireccionForm">
              <td colspan="6">
                <button class="btn btn-sm btn-primary" (click)="mostrarFormularioNuevaDireccion()">Agregar dirección</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-12" *ngIf="pestanaActual === 'ARMAS'">
          <table class="table">
            <tr>
              <td><b>N. Serie</b></td>
              <td><b>Matricula</b></td>
              <td><b>Marca</b></td>
              <td><b>Tipo</b></td>
              <td><b>Clase</b></td>
              <td><b>Calibre</b></td>
              <td><b>Bunker</b></td>
              <td><b>Status</b></td>
              <td><b>Acciones</b></td>
            </tr>
            <tr *ngFor="let a of armas; let i = index">
              <td>{{a?.serie}}</td>
              <td>{{a?.matricula}}</td>
              <td>{{a?.marca?.nombre}}</td>
              <td>{{a?.tipo}}</td>
              <td>{{a?.clase?.nombre}}</td>
              <td>{{a?.calibre}}</td>
              <td>{{a?.bunker?.domicilio1}}</td>
              <td>{{a?.status + " - " + (a?.status === 'ACTIVA' ? a?.personal?.apellidoPaterno + " " + a?.personal?.apellidoMaterno + " " + a?.personal?.nombres : "")}}</td>
              <td>
                <fa-icon [icon]="faHandPaper" title="Marcar como en custodia" (click)="mostrarCambioStatusForm(a?.uuid)" style="cursor: pointer;" *ngIf="a?.status !== 'CUSTODIA'"></fa-icon>
                <fa-icon [icon]="faPencil" title="Modificar arma" (click)="mostrarModificarArmaForm(i)" style="cursor: pointer;" *ngIf="a?.status !== 'CUSTODIA'"></fa-icon>
                <fa-icon [icon]="faTrash" title="Eliminar arma" (click)="mostrarModalEliminarArma(a?.uuid)" style="cursor: pointer;"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="showArmaForm">
              <td colspan="9">
                <form [formGroup]="crearArmaForm">
                  <div class="form-row">
                    <div class="col-sm-3">
                      <label for="bunker">
                        <b>Domicilio de resguardo *</b>
                        <span *ngIf="crearArmaForm.controls['bunker'].invalid && (crearArmaForm.controls['bunker'].dirty || crearArmaForm.controls['bunker'].touched)" class="text-danger"> - Requerido</span>
                      </label>
                      <select id="bunker" class="form-control" formControlName="bunker">
                        <option *ngFor="let d of domiciliosLicenciaColectiva" value="{{d.uuid}}">{{d.nombre + " - " + d.domicilio1}}</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <label for="serie">
                        <b>Numero de serie *</b>
                        <span
                          *ngIf="crearArmaForm.controls['serie'].invalid && (crearArmaForm.controls['serie'].dirty || crearArmaForm.controls['serie'].touched)">
                          <i *ngIf="crearArmaForm.controls['serie'].errors.required" class="text-danger"> - Campo requerido</i>
                          <i *ngIf="crearArmaForm.controls['serie'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                        </span>
                      </label>
                      <input type="text" class="form-control" id="serie" formControlName="serie" placeholder="Ejemplo: ABC123456"/>
                    </div>
                    <div class="col-sm-3">
                      <label for="matricula">
                        <b>Matricula *</b>
                        <span
                          *ngIf="crearArmaForm.controls['matricula'].invalid && (crearArmaForm.controls['matricula'].dirty || crearArmaForm.controls['matricula'].touched)">
                          <i *ngIf="crearArmaForm.controls['matricula'].errors.required" class="text-danger"> - Campo requerido</i>
                          <i *ngIf="crearArmaForm.controls['matricula'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                        </span>
                      </label>
                      <input type="text" class="form-control" id="matricula" formControlName="matricula" placeholder="Ejemplo: ABC123456"/>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-sm-3">
                      <label for="marca">
                        <b>Marca *</b>
                        <span *ngIf="crearArmaForm.controls['marca'].invalid && (crearArmaForm.controls['marca'].dirty || crearArmaForm.controls['marca'].touched)" class="text-danger"> - Requerido</span>
                      </label>
                      <select id="marca" class="form-control" formControlName="marca">
                        <option *ngFor="let m of marcas" value="{{m.uuid}}">{{m.nombre}}</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <label for="clase">
                        <b>Clase *</b>
                        <span *ngIf="crearArmaForm.controls['clase'].invalid && (crearArmaForm.controls['clase'].dirty || crearArmaForm.controls['clase'].touched)" class="text-danger"> - Requerido</span>
                      </label>
                      <select id="clase" class="form-control" formControlName="clase">
                        <option *ngFor="let c of clases" value="{{c.uuid}}">{{c.nombre}}</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <label for="tipo">
                        <b>Tipo *</b>
                        <span *ngIf="crearArmaForm.controls['tipo'].invalid && (crearArmaForm.controls['tipo'].dirty || crearArmaForm.controls['tipo'].touched)" class="text-danger"> - Requerido</span>
                      </label>
                      <select id="tipo" class="form-control" formControlName="tipo">
                        <option value="CORTA">Corta</option>
                        <option value="LARGA">Larga</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <label for="calibre">
                        <b>Calibre *</b>
                        <span
                          *ngIf="crearArmaForm.controls['calibre'].invalid && (crearArmaForm.controls['calibre'].dirty || crearArmaForm.controls['calibre'].touched)">
                          <i *ngIf="crearArmaForm.controls['calibre'].errors.required" class="text-danger"> - Campo requerido</i>
                          <i *ngIf="crearArmaForm.controls['calibre'].errors.maxlength" class="text-danger"> - Longitud excedida</i>
                        </span>
                      </label>
                      <input type="text" class="form-control" id="calibre" formControlName="calibre" placeholder="Ejemplo: .38 Super, .22"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="status">
                        <b>Status *</b>
                        <span
                          *ngIf="crearArmaForm.controls['status'].invalid && (crearArmaForm.controls['status'].dirty || crearArmaForm.controls['status'].touched)">
                          <i *ngIf="crearArmaForm.controls['status'].errors.required" class="text-danger"> - Campo requerido</i>
                        </span>
                      </label>
                      <select class="form-control" formControlName="status" id="status" (change)="seleccionarStatus($event.target)">
                        <option value="ACTIVA">Activa</option>
                        <option value="DEPOSITO">Deposito</option>
                      </select>
                    </div>
                    <div class="col-sm-3" *ngIf="status === 'ACTIVA'">
                      <label for="personal">
                        <b>Personal a asignar *</b>
                      </label>
                      <select class="form-control" id="personal" formControlName="personal">
                        <option *ngFor="let p of personal" value="{{p?.uuid}}">{{p?.nombres + " " + p?.apellidoPaterno + " " + p?.apellidoMaterno}}</option>
                      </select>
                    </div>
                  </div>
                </form>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <button (click)="crearArma(crearArmaForm)" class="btn btn-sm btn-primary">Guardar arma
                    </button>
                    <button (click)="mostrarFormularioArma()" class="btn btn-sm btn-danger">Cancelar
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="!showArmaForm && !mostrarModificarStatusArma">
              <td colspan="9">
                <button class="btn btn-sm btn-primary" (click)="mostrarFormularioNuevaArma()">Agregar arma</button>
              </td>
            </tr>
            <tr *ngIf="mostrarModificarStatusArma">
              <td colspan="9">
                <form formGroup="modificarStatusArmaForm">
                  <div class="form-row">
                    <div class="col-sm-4">
                      <label for="documentoFundatorio">
                        <b>Documento fundatorio</b>
                      </label>
                      <input id="documentoFundatorio" type="file" class="form-control" (change)="onFileChange($event)">
                    </div>
                  </div>
                </form>
                <div class="form-row">
                  <div class="col-sm-12">
                    <label>
                      <b>Relato de hechos *</b>
                    </label>
                    <ckeditor [(ngModel)]="model.editorData"></ckeditor>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="mostrarModificarStatusArma">
              <td colspan="9">
                <button class="btn btn-sm btn-primary" (click)="custodiaArma()">Guardar cambios</button>
                <button class="btn btn-sm btn-danger" (click)="mostrarCambioStatusForm(undefined)">Cancelar</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="pestanaActual === 'DETALLES'">
      <button class="btn btn-primary" (click)="descargarLicencia(licencia.uuid, mostrarLicenciaPdfModal)">Descargar licencia</button>
      <button class="btn btn-primary" (click)="mostrarModificarLicenciaModal()">Modificar</button>
      <button type="button" class="btn btn-danger" (click)="mostrarEliminarLicenciaModal()">Eliminar</button>
    </div>
  </ng-template>

  <ng-template #mostrarLicenciaPdfModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="mostrarLicenciaPdfModal">Ver adjunto de la licencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <pdf-viewer [src]="pdfActual"
                      [render-text]="true"
                      [original-size]="false"
                      style="width: 100%; height: 600px"></pdf-viewer>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #modificarLicenciaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modificarLicenciaModal">Modificando licencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="crearEmpresaLicenciaForm">
            <div class="form-row">
              <div class="col-sm-4">
                <label for="numeroOficioEditar">
                  <b>Número de oficio *</b>
                  <span *ngIf="crearEmpresaLicenciaForm.controls['numeroOficio'].invalid && (crearEmpresaLicenciaForm.controls['numeroOficio'].dirty || crearEmpresaLicenciaForm.controls['numeroOficio'].touched)" class="text-danger"> - Requerido</span>
                </label>
                <input id="numeroOficioEditar" type="text" class="form-control" placeholder="Ej. 01830" formControlName="numeroOficio" #numeroOficio>
              </div>
              <div class="col-sm-4">
                <label for="fechaInicioEditar">
                  <b>Fecha de Inicio *</b>
                  <span *ngIf="crearEmpresaLicenciaForm.controls['fechaInicio'].invalid && (crearEmpresaLicenciaForm.controls['fechaInicio'].dirty || crearEmpresaLicenciaForm.controls['fechaInicio'].touched)" class="text-danger"> - Requerido</span>
                </label>
                <input id="fechaInicioEditar" type="date" class="form-control" placeholder="Selecciona una fecha" formControlName="fechaInicio" #fechaInicio>
              </div>
              <div class="col-sm-4">
                <label for="fechaFinEditar">
                  <b>Fecha de fin *</b>
                  <span *ngIf="crearEmpresaLicenciaForm.controls['fechaFin'].invalid && (crearEmpresaLicenciaForm.controls['fechaFin'].dirty || crearEmpresaLicenciaForm.controls['fechaFin'].touched)" class="text-danger"> - Requerido</span>
                </label>
                <input id="fechaFinEditar" type="date" class="form-control" placeholder="Selecciona una fecha" formControlName="fechaFin" #fechaFin>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-8">
                <label for="modalidadEditar">
                  <b>Modalidad / Submodalidad *</b>
                  <span *ngIf="crearEmpresaLicenciaForm.controls['modalidad'].invalid && (crearEmpresaLicenciaForm.controls['modalidad'].dirty || crearEmpresaLicenciaForm.controls['modalidad'].touched)" class="text-danger"> - Requerido</span>
                </label>
                <select id="modalidadEditar" class="form-control" formControlName="modalidad">
                  <option *ngFor="let m of modalidades" value="{{m?.modalidad?.uuid}}">{{m?.modalidad?.nombre + ((m?.submodalidad !== null) ? " / " + m?.submodalidad?.nombre : "")}}</option>
                </select>
              </div>
              <div class="col-sm-4">
                <label for="archivoEditar">
                  <b>Archivo (en pdf)</b>
                </label>
                <input id="archivoEditar" class="form-control" formControlName="archivo" type="file" accept="application/pdf" (change)="onFileChange($event)">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="modificarLicencia(crearEmpresaLicenciaForm)">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #crearLicencia let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-survey-response">Nueva licencia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="crearEmpresaLicenciaForm">
            <div class="form-row">
              <div class="col-sm-4">
                <label for="numeroOficio">
                  <b>Número de oficio *</b>
                  <span *ngIf="crearEmpresaLicenciaForm.controls['numeroOficio'].invalid && (crearEmpresaLicenciaForm.controls['numeroOficio'].dirty || crearEmpresaLicenciaForm.controls['numeroOficio'].touched)" class="text-danger"> - Requerido</span>
                </label>
                <input id="numeroOficio" type="text" class="form-control" placeholder="Ej. 01830" formControlName="numeroOficio" #numeroOficio>
              </div>
              <div class="col-sm-4">
                <label for="fechaInicio">
                  <b>Fecha de Inicio *</b>
                  <span *ngIf="crearEmpresaLicenciaForm.controls['fechaInicio'].invalid && (crearEmpresaLicenciaForm.controls['fechaInicio'].dirty || crearEmpresaLicenciaForm.controls['fechaInicio'].touched)" class="text-danger"> - Requerido</span>
                </label>
                <input id="fechaInicio" type="date" class="form-control" placeholder="Selecciona una fecha" formControlName="fechaInicio" #fechaInicio>
              </div>
              <div class="col-sm-4">
                <label for="fechaFin">
                  <b>Fecha de fin *</b>
                  <span *ngIf="crearEmpresaLicenciaForm.controls['fechaFin'].invalid && (crearEmpresaLicenciaForm.controls['fechaFin'].dirty || crearEmpresaLicenciaForm.controls['fechaFin'].touched)" class="text-danger"> - Requerido</span>
                </label>
                <input id="fechaFin" type="date" class="form-control" placeholder="Selecciona una fecha" formControlName="fechaFin" #fechaFin>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-8">
                <label for="modalidad">
                  <b>Modalidad / Submodalidad *</b>
                  <span *ngIf="crearEmpresaLicenciaForm.controls['modalidad'].invalid && (crearEmpresaLicenciaForm.controls['modalidad'].dirty || crearEmpresaLicenciaForm.controls['modalidad'].touched)" class="text-danger"> - Requerido</span>
                </label>
                <select id="modalidad" class="form-control" formControlName="modalidad">
                  <option *ngFor="let m of modalidades" value="{{m?.modalidad?.uuid}}">{{(m?.modalidad?.nombre + ((m?.submodalidad !== null) ? " / " + m?.submodalidad?.nombre : "")).substr(0, 150)}}</option>
                </select>
              </div>
              <div class="col-sm-4">
                <label for="archivo">
                  <b>Archivo (en pdf)</b>
                </label>
                <input id="archivo" class="form-control" formControlName="archivo" type="file" accept="application/pdf" (change)="onFileChange($event)">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="guardarLicencia(crearEmpresaLicenciaForm)">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #eliminarEmpresaLicenciaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarEscrituraLicenciaModal">Eliminando la licencia colectiva </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar la licencia colectiva. Toma en cuenta que los domicilios vinculados y las armas se eliminaran tambien. ¿Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarLicencia()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #eliminarEmpresaLicenciaDireccionModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarEmpresaLicenciaDireccionModal">Eliminando la direccion </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar la direccion de la licencia colectiva. Esta operacion no se puede deshacer. ¿Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarLicenciaDomicilio()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>

  <ng-template #eliminarEmpresaLicenciaArmaModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="eliminarEmpresaLicenciaArmaModal">Eliminando el arma </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>Estas a punto de eliminar el arma de la licencia colectiva. Esta operacion no se puede deshacer. ¿Deseas continuar?</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="confirmarEliminarLicenciaArma()">Si, eliminar</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Save click')">No, dejarlo como esta</button>
    </div>
  </ng-template>
</div>
